In [19]:
import pandas as pd
import pyreadr

In [20]:
raw_data = pyreadr.read_r("./data/data.RData")
print(raw_data.keys())
raw_data = raw_data["eastmoney_to_ntu"]

odict_keys(['eastmoney_to_ntu'])

In [21]:
raw_data.columns

Index(['stock_code', 'item_title', 'article_postdate', 'item_author',
       'article_author', 'article_source', 'article_content', 'item_views',
       'item_comment_counts', 'article_likes', 'date', 'year', 'month',
       'eastmoney_robo_journalism', 'media_robo_journalism',
       'SMA_robo_journalism', 'viral'],
      dtype='object')

# v1: Ignore content

In [22]:
# select features

data = raw_data[['stock_code', 'item_title', 'item_author',
       'article_author', 'article_source', 'article_content', 'item_views',
       'item_comment_counts', 'article_likes',
       'eastmoney_robo_journalism', 'media_robo_journalism',
       'SMA_robo_journalism', 'viral']]

In [23]:
data.columns

Index(['stock_code', 'item_title', 'item_author', 'article_author',
       'article_source', 'article_content', 'item_views',
       'item_comment_counts', 'article_likes', 'eastmoney_robo_journalism',
       'media_robo_journalism', 'SMA_robo_journalism', 'viral'],
      dtype='object')

In [24]:
cat_cols = ['stock_code', 'item_author', 'article_author', 'article_source']
cont_cols = ['item_views', 'item_comment_counts', 'article_likes', 'eastmoney_robo_journalism', 'media_robo_journalism', 'SMA_robo_journalism']
tar_cols = ['viral']

In [25]:
data[cat_cols] = data[cat_cols].apply(lambda c: c.astype('category'))

/var/folders/52/5ygfc9d94sscvjzdx8yvt2sm0000gq/T/ipykernel_14785/3328079898.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[cat_cols] = data[cat_cols].apply(lambda c: c.astype('category'))

In [26]:
# data['stock_index'] = data['stock_code'].cat.codes
# data['iauthor_index'] = data['item_author'].cat.codes
# data['aauthor_index'] = data['article_author'].cat.codes
# data['source_index'] = data['article_source'].cat.codes

In [27]:
data.dtypes

stock_code                   category
item_title                     object
item_author                  category
article_author               category
article_source               category
article_content                object
item_views                      int32
item_comment_counts             int32
article_likes                   int32
eastmoney_robo_journalism     float64
media_robo_journalism         float64
SMA_robo_journalism           float64
viral                         float64
dtype: object

In [28]:
data.describe(include='all')

,stock_code,item_title,item_author,article_author,article_source,article_content,item_views,item_comment_counts,article_likes,eastmoney_robo_journalism,media_robo_journalism,SMA_robo_journalism,viral
count,6603696,6603696,6603696,6603262,6603696,6603696,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06
unique,5052,6405069,5159,5799,2045,6595188,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,600519,百联股份今日热门盘点,股市胖虎,,东方财富Choice数据,为学习贯彻新《证券法》，进一步深化投资者保护工作，落实2020年广东证监局投资者保护工作相关...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,10411,116,426876,3252893,4179997,346,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,1.765761e+03,3.481803e+00,2.901667e+00,5.504324e-01,1.353547e-01,2.612287e-01,4.778476e-02
std,NaN,NaN,NaN,NaN,NaN,NaN,3.372575e+04,2.461240e+01,1.583375e+01,4.974501e-01,3.421020e-01,4.393043e-01,2.133105e-01
min,NaN,NaN,NaN,NaN,NaN,NaN,2.700000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,3.410000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,NaN,NaN,NaN,NaN,NaN,NaN,5.070000e+02,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,NaN,NaN,NaN,NaN,NaN,NaN,8.310000e+02,1.000000e+00,3.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00
max,NaN,NaN,NaN,NaN,NaN,NaN,7.625000e+07,1.100000e+04,3.250000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [29]:
# data_1hot = pd.get_dummies(data, columns=['Item_Author', 'sentiment'])

In [30]:
# data_1hot.columns

In [31]:
data.to_csv("./data/processed_data_wo_content.csv")