In [1]:
import pandas as pd

In [2]:
raw_data = pd.read_csv("./data/news_data_with_y1030_sentiment.csv")

In [3]:
raw_data.columns

Index(['Unnamed: 0', 'Item_URL', 'Item_Author', 'Item_PostDate', 'Item_Title',
       'Item_Views', 'Item_Likes', 'Item_Comments', 'news_author_x',
       'news_text', 'Item_Time', 'Item_Date', 'title', 'sentence_length',
       'word_length', 'word_!', 'word_:', 'word_?', 'news_source',
       'news_author_y', 'top1p_views', 'top5p_views', 'top10p_views',
       'top15p_views', 'top20p_views', 'top25p_views', 'top30p_views',
       'top1p_likes', 'top5p_likes', 'top10p_likes', 'top15p_likes',
       'top20p_likes', 'top25p_likes', 'top30p_likes', 'top1p_comments',
       'top5p_comments', 'top10p_comments', 'top15p_comments',
       'top20p_comments', 'top25p_comments', 'top30p_comments', 'Company_ID',
       'sentiment', 'score'],
      dtype='object')

In [4]:
# select features

data = raw_data[['Item_Author', 'Company_ID', 'Item_Title', 'title', 'news_text', 'sentence_length', 'word_length', 'word_!', 'word_:', 'word_?', 'sentiment', 'score', 
        'Item_Views', 'Item_Likes', 'Item_Comments', 
        'top1p_views', 'top5p_views', 'top10p_views', 'top15p_views', 'top20p_views', 'top25p_views', 'top30p_views',
        'top1p_likes', 'top5p_likes', 'top10p_likes', 'top15p_likes', 'top20p_likes', 'top25p_likes', 'top30p_likes', 
        'top1p_comments', 'top5p_comments', 'top10p_comments', 'top15p_comments', 'top20p_comments', 'top25p_comments', 'top30p_comments']]

In [5]:
data.columns

Index(['Item_Author', 'Company_ID', 'Item_Title', 'title', 'news_text',
       'sentence_length', 'word_length', 'word_!', 'word_:', 'word_?',
       'sentiment', 'score', 'Item_Views', 'Item_Likes', 'Item_Comments',
       'top1p_views', 'top5p_views', 'top10p_views', 'top15p_views',
       'top20p_views', 'top25p_views', 'top30p_views', 'top1p_likes',
       'top5p_likes', 'top10p_likes', 'top15p_likes', 'top20p_likes',
       'top25p_likes', 'top30p_likes', 'top1p_comments', 'top5p_comments',
       'top10p_comments', 'top15p_comments', 'top20p_comments',
       'top25p_comments', 'top30p_comments'],
      dtype='object')

In [6]:
data['Item_Author']

0         平安银行资讯
1         平安银行资讯
2         平安银行资讯
3         平安银行资讯
4         平安银行资讯
           ...
986013    中寰股份资讯
986014    中寰股份资讯
986015    中寰股份资讯
986016    中寰股份资讯
986017    中寰股份资讯
Name: Item_Author, Length: 986018, dtype: object

In [16]:
cat_cols = ['Item_Author', 'Company_ID', 'sentiment']
cont_cols = ['word_length', 'word_!', 'word_:', 'word_?', 'score']
# tar_cols = ['Item_Views', 'Item_Likes', 'Item_Comments']

In [17]:
data[cat_cols] = data[cat_cols].apply(lambda c: c.astype('category'))

C:\Users\ZIQING002\AppData\Local\Temp\ipykernel_31752\3328079898.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[cat_cols] = data[cat_cols].apply(lambda c: c.astype('category'))

In [18]:
data.dtypes

Item_Author        category
Company_ID         category
Item_Title           object
title                object
news_text            object
sentence_length       int64
word_length           int64
word_!                int64
word_:                int64
word_?                int64
sentiment          category
score               float64
Item_Views          float64
Item_Likes          float64
Item_Comments       float64
top1p_views           int64
top5p_views           int64
top10p_views          int64
top15p_views          int64
top20p_views          int64
top25p_views          int64
top30p_views          int64
top1p_likes           int64
top5p_likes           int64
top10p_likes          int64
top15p_likes          int64
top20p_likes          int64
top25p_likes          int64
top30p_likes          int64
top1p_comments        int64
top5p_comments        int64
top10p_comments       int64
top15p_comments       int64
top20p_comments       int64
top25p_comments       int64
top30p_comments       int64
dtype: object

In [19]:
raw_data.describe(include='all')

,Unnamed: 0,Item_URL,Item_Author,Item_PostDate,Item_Title,Item_Views,Item_Likes,Item_Comments,news_author_x,news_text,...,top1p_comments,top5p_comments,top10p_comments,top15p_comments,top20p_comments,top25p_comments,top30p_comments,Company_ID,sentiment,score
count,986018.0000,986018,986018,986018,986018,986018.000000,986018.000000,986018.000000,986018,986018,...,986018.000000,986018.000000,986018.000000,986018.000000,986018.000000,986018.000000,986018.000000,986018.000000,986018,986018.000000
unique,NaN,985752,4749,408094,985752,NaN,NaN,NaN,1404,985750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
top,NaN,"https://guba.eastmoney.com/news,601777,1111695...",宁德时代资讯,2022-03-12 07:41:28,力帆科技：融资净偿还860.29万元，融资余额3.29亿元（11-25）,NaN,NaN,NaN,财智星,来源：东方财富Choice数据 作者：财智星 力帆科技融资融券信息显示，2021年12月2...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,neutral,NaN
freq,NaN,2,875,22,2,NaN,NaN,NaN,955586,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,520575,NaN
mean,493008.5000,NaN,NaN,NaN,NaN,538.720718,1.361425,2.295520,NaN,NaN,...,0.010428,0.054521,0.119516,0.194710,0.281378,0.378147,0.701338,353945.481784,NaN,0.045141
std,284639.0232,NaN,NaN,NaN,NaN,1116.258689,10.829394,19.975907,NaN,NaN,...,0.101583,0.227044,0.324395,0.395978,0.449672,0.484925,0.457671,274159.907037,NaN,0.684751
min,0.0000,NaN,NaN,NaN,NaN,59.000000,0.000000,0.000000,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,NaN,-1.000000
25%,246504.2500,NaN,NaN,NaN,NaN,276.000000,0.000000,0.000000,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2539.000000,NaN,0.000000
50%,493008.5000,NaN,NaN,NaN,NaN,353.000000,0.000000,0.000000,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,301010.000000,NaN,0.000000
75%,739512.7500,NaN,NaN,NaN,NaN,507.000000,1.000000,1.000000,NaN,NaN,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,601288.000000,NaN,1.000000
max,986017.0000,NaN,NaN,NaN,NaN,163000.000000,1998.000000,4756.000000,NaN,NaN,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,873223.000000,NaN,1.000000

In [21]:
data.to_csv("./data/processed_data.csv")