In [11]:
import pandas as pd
import pyreadr

In [12]:
data = pyreadr.read_r('./data/data.RData')
# print(data.keys())
data = data["eastmoney_to_ntu"]

In [13]:
data.columns

Index(['stock_code', 'item_title', 'article_postdate', 'item_author',
       'article_author', 'article_source', 'article_content', 'item_views',
       'item_comment_counts', 'article_likes', 'date', 'year', 'month',
       'eastmoney_robo_journalism', 'media_robo_journalism',
       'SMA_robo_journalism', 'viral'],
      dtype='object')

In [14]:
data = data[['item_title', 'stock_code', 'item_author', 'article_author', 'article_source', 'eastmoney_robo_journalism', 'media_robo_journalism', 'SMA_robo_journalism', 'year', 'month','viral']]

In [17]:
cat_cols = ['stock_code', 'item_author', 'article_author', 'article_source', 'eastmoney_robo_journalism', 'media_robo_journalism', 'SMA_robo_journalism', 'year', 'month','viral']
data[cat_cols] = data[cat_cols].apply(lambda c: c.astype('category'))

In [18]:
data.describe(include='all')

,item_title,stock_code,item_author,article_author,article_source,eastmoney_robo_journalism,media_robo_journalism,SMA_robo_journalism,year,month,viral
count,6603696,6603696,6603696,6603262,6603696,6603696.0,6603696.0,6603696.0,6603696.0,6603696.0,6603696.0
unique,6405069,5052,5159,5799,2045,2.0,2.0,2.0,7.0,12.0,2.0
top,百联股份今日热门盘点,600519,股市胖虎,,东方财富Choice数据,1.0,0.0,0.0,2022.0,12.0,0.0
freq,116,10411,426876,3252893,4179997,3634888.0,5709855.0,4878621.0,1987630.0,680738.0,6288140.0

In [16]:
data.to_csv('./data/p_data_wo_content.csv')

In [3]:
import pandas as pd

In [3]:
data1 = pd.read_csv('./data/eastmoney_data_senti.csv')

/var/folders/52/5ygfc9d94sscvjzdx8yvt2sm0000gq/T/ipykernel_82384/3929029688.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./data/eastmoney_data_senti.csv')

In [4]:
data1.describe(include='all')

,item_title,item_author,article_author,article_source,item_views,item_comment_counts,article_likes,year,month,eastmoney_robo_journalism,media_robo_journalism,SMA_robo_journalism,viral,article_source_cate,item_author_cate,sentiment_score
count,6603696,6603696,6603696,6603696,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6603696,6603696,6.603696e+06
unique,6405069,5159,5800,2045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,219,5158,NaN
top,百联股份今日热门盘点,股市胖虎,财智星,东方财富Choice数据,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,东方财富,股市胖虎,NaN
freq,116,426876,3039821,4179997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4181680,426876,NaN
mean,NaN,NaN,NaN,NaN,1.765761e+03,3.481803e+00,2.901667e+00,2.021472e+03,6.593989e+00,5.504324e-01,1.353547e-01,2.612287e-01,4.778476e-02,NaN,NaN,8.064672e-02
std,NaN,NaN,NaN,NaN,3.372575e+04,2.461240e+01,1.583375e+01,1.164505e+00,3.552674e+00,4.974501e-01,3.421020e-01,4.393043e-01,2.133105e-01,NaN,NaN,1.316210e-01
min,NaN,NaN,NaN,NaN,2.700000e+01,0.000000e+00,0.000000e+00,2.017000e+03,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,-8.461144e-01
25%,NaN,NaN,NaN,NaN,3.410000e+02,0.000000e+00,0.000000e+00,2.021000e+03,4.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,4.519547e-03
50%,NaN,NaN,NaN,NaN,5.070000e+02,0.000000e+00,1.000000e+00,2.022000e+03,7.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,8.821894e-02
75%,NaN,NaN,NaN,NaN,8.310000e+02,1.000000e+00,3.000000e+00,2.022000e+03,1.000000e+01,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,NaN,NaN,1.616404e-01
max,NaN,NaN,NaN,NaN,7.625000e+07,1.100000e+04,3.250000e+03,2.023000e+03,1.200000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,NaN,NaN,9.834914e-01

In [4]:
data2 = pd.read_csv('./data/eastmoney_topic.csv')

/var/folders/52/5ygfc9d94sscvjzdx8yvt2sm0000gq/T/ipykernel_84209/2502695927.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 = pd.read_csv('./data/eastmoney_topic.csv')

In [7]:
data2.describe(include='all')

,item_title,item_author,article_author,article_source,item_views,item_comment_counts,article_likes,year,month,eastmoney_robo_journalism,media_robo_journalism,SMA_robo_journalism,viral,article_source_cate,item_author_cate,sentiment_score,cut_titles,topics,dominant_topic
count,6603696,6603696,6603696,6603696,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6603696,6603696,6.603696e+06,6603696,6603696,6.603696e+06
unique,6405069,5159,5800,2045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,219,5158,NaN,6399519,6549595,NaN
top,百联股份今日热门盘点,股市胖虎,财智星,东方财富Choice数据,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,东方财富,股市胖虎,NaN,"['百联', '股份', '今日', '热门', '盘点']","[(0, 0.020837696), (1, 0.020837696), (2, 0.854...",NaN
freq,116,426876,3039821,4179997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4181680,426876,NaN,116,82,NaN
mean,NaN,NaN,NaN,NaN,1.765761e+03,3.481803e+00,2.901667e+00,2.021472e+03,6.593989e+00,5.504324e-01,1.353547e-01,2.612287e-01,4.778476e-02,NaN,NaN,8.064672e-02,NaN,NaN,4.003182e+00
std,NaN,NaN,NaN,NaN,3.372575e+04,2.461240e+01,1.583375e+01,1.164505e+00,3.552674e+00,4.974501e-01,3.421020e-01,4.393043e-01,2.133105e-01,NaN,NaN,1.316210e-01,NaN,NaN,2.141182e+00
min,NaN,NaN,NaN,NaN,2.700000e+01,0.000000e+00,0.000000e+00,2.017000e+03,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,-8.461144e-01,NaN,NaN,0.000000e+00
25%,NaN,NaN,NaN,NaN,3.410000e+02,0.000000e+00,0.000000e+00,2.021000e+03,4.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,4.519547e-03,NaN,NaN,3.000000e+00
50%,NaN,NaN,NaN,NaN,5.070000e+02,0.000000e+00,1.000000e+00,2.022000e+03,7.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,8.821894e-02,NaN,NaN,5.000000e+00
75%,NaN,NaN,NaN,NaN,8.310000e+02,1.000000e+00,3.000000e+00,2.022000e+03,1.000000e+01,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,NaN,NaN,1.616404e-01,NaN,NaN,6.000000e+00
max,NaN,NaN,NaN,NaN,7.625000e+07,1.100000e+04,3.250000e+03,2.023000e+03,1.200000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,NaN,NaN,9.834914e-01,NaN,NaN,7.000000e+00

In [10]:
data2['topics'][0]

'[(0, 0.013899067), (1, 0.013960035), (2, 0.12508488), (3, 0.013899348), (4, 0.6523453), (5, 0.013910475), (6, 0.013899067), (7, 0.1530018)]'

In [9]:
data2['dominant_topic']

0          4
1          4
2          0
3          1
4          0
          ..
6603691    4
6603692    4
6603693    4
6603694    4
6603695    3
Name: dominant_topic, Length: 6603696, dtype: int64

In [22]:
data2['topics_val'] = data2['topics'].apply(lambda x: [float(tup.split(',')[1][1:-1]) for tup in x.strip('[]').split('),')])

In [28]:
data3 = pd.read_csv('./data/p_data_wo_content.csv')

/var/folders/52/5ygfc9d94sscvjzdx8yvt2sm0000gq/T/ipykernel_84209/1337043991.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  data3 = pd.read_csv('./data/p_data_wo_content.csv')

In [29]:
data3.describe(include='all')

,Unnamed: 0,item_title,stock_code,item_author,article_author,article_source,eastmoney_robo_journalism,media_robo_journalism,SMA_robo_journalism,year,month,viral
count,6.603696e+06,6603696,6.603696e+06,6603696,3350369,5569905,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06
unique,NaN,6405069,NaN,5159,5798,2044,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,百联股份今日热门盘点,NaN,股市胖虎,财智星,东方财富Choice数据,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,116,NaN,426876,3039821,4179997,NaN,NaN,NaN,NaN,NaN,NaN
mean,3.301848e+06,NaN,3.414867e+05,NaN,NaN,NaN,5.504324e-01,1.353547e-01,2.612287e-01,2.021472e+03,6.593989e+00,4.778476e-02
std,1.906323e+06,NaN,2.724346e+05,NaN,NaN,NaN,4.974501e-01,3.421020e-01,4.393043e-01,1.164505e+00,3.552674e+00,2.133105e-01
min,0.000000e+00,NaN,1.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,2.017000e+03,1.000000e+00,0.000000e+00
25%,1.650924e+06,NaN,2.522000e+03,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,2.021000e+03,4.000000e+00,0.000000e+00
50%,3.301848e+06,NaN,3.008900e+05,NaN,NaN,NaN,1.000000e+00,0.000000e+00,0.000000e+00,2.022000e+03,7.000000e+00,0.000000e+00
75%,4.952771e+06,NaN,6.010000e+05,NaN,NaN,NaN,1.000000e+00,0.000000e+00,1.000000e+00,2.022000e+03,1.000000e+01,0.000000e+00
max,6.603695e+06,NaN,6.889810e+05,NaN,NaN,NaN,1.000000e+00,1.000000e+00,1.000000e+00,2.023000e+03,1.200000e+01,1.000000e+00

In [30]:
data2['stock_code'] = data3['stock_code']

In [34]:
data2.describe(include='all')

In [33]:
data2.to_csv('./data/eastmoney_topic_bert.csv')

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./data/eastmoney_topic_bert.csv')

/var/folders/52/5ygfc9d94sscvjzdx8yvt2sm0000gq/T/ipykernel_88422/2192251410.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./data/eastmoney_topic_bert.csv')

In [3]:
# Convert strings to lists
data['topics_val'] = data['topics_val'].apply(lambda x: list(map(float, x.strip('[]').split(','))))

# Create separate columns for each value
data[['topics_val1', 'topics_val2', 'topics_val3', 'topics_val4', 'topics_val5', 'topics_val6', 'topics_val7', 'topics_val8']] = pd.DataFrame(data['topics_val'].tolist())

In [4]:
data.columns

Index(['Unnamed: 0', 'item_title', 'item_author', 'article_author',
       'article_source', 'item_views', 'item_comment_counts', 'article_likes',
       'year', 'month', 'eastmoney_robo_journalism', 'media_robo_journalism',
       'SMA_robo_journalism', 'viral', 'article_source_cate',
       'item_author_cate', 'sentiment_score', 'cut_titles', 'topics',
       'dominant_topic', 'topics_val', 'stock_code', 'topics_val1',
       'topics_val2', 'topics_val3', 'topics_val4', 'topics_val5',
       'topics_val6', 'topics_val7', 'topics_val8'],
      dtype='object')

In [5]:
data['topics_val1']

0          0.013899
1          0.013894
2          0.236181
3          0.240432
4          0.236203
             ...
6603691    0.010427
6603692    0.011381
6603693    0.086750
6603694    0.010429
6603695    0.017900
Name: topics_val1, Length: 6603696, dtype: float64

In [11]:
data.fillna(0, inplace=True)

In [12]:
data[['dominant_topic','topics_val','topics_val', 'stock_code', 'topics_val1',
       'topics_val2', 'topics_val3', 'topics_val4', 'topics_val5',
       'topics_val6', 'topics_val7', 'topics_val8']]

,dominant_topic,topics_val,topics_val,stock_code,topics_val1,topics_val2,topics_val3,topics_val4,topics_val5,topics_val6,topics_val7,topics_val8
0,4,"[0.01389906, 0.01396003, 0.1250848, 0.01389934...","[0.01389906, 0.01396003, 0.1250848, 0.01389934...",1,0.013899,0.013960,0.125085,0.013899,0.652345,0.013910,0.013899,0.153002
1,4,"[0.01389387, 0.01399399, 0.1250381, 0.01389387...","[0.01389387, 0.01399399, 0.1250381, 0.01389387...",1,0.013894,0.013994,0.125038,0.013894,0.657507,0.013894,0.013894,0.147885
2,0,"[0.236181, 0.2328616, 0.2075994, 0.01389296, 0...","[0.236181, 0.2328616, 0.2075994, 0.01389296, 0...",1,0.236181,0.232862,0.207599,0.013893,0.013895,0.013894,0.153427,0.128248
3,1,"[0.2404324, 0.4798751, 0.1547088, 0.08651243]","[0.2404324, 0.4798751, 0.1547088, 0.08651243]",1,0.240432,0.479875,0.154709,0.086512,0.000000,0.000000,0.000000,0.000000
4,0,"[0.2362029, 0.2337483, 0.207625, 0.01389421, 0...","[0.2362029, 0.2337483, 0.207625, 0.01389421, 0...",1,0.236203,0.233748,0.207625,0.013894,0.013894,0.013894,0.153434,0.127307
...,...,...,...,...,...,...,...,...,...,...,...,...
6603691,4,"[0.01042749, 0.0963754, 0.093776, 0.1346095, 0...","[0.01042749, 0.0963754, 0.093776, 0.1346095, 0...",688981,0.010427,0.096375,0.093776,0.134609,0.633542,0.010421,0.010421,0.010427
6603692,4,"[0.01138086, 0.2002967, 0.01137208, 0.01138353...","[0.01138086, 0.2002967, 0.01137208, 0.01138353...",688981,0.011381,0.200297,0.011372,0.011384,0.731438,0.011376,0.011372,0.011380
6603693,4,"[0.08675, 0.3957798, 0.46922246]","[0.08675, 0.3957798, 0.46922246]",688981,0.086750,0.395780,0.469222,0.000000,0.000000,0.000000,0.000000,0.000000
6603694,4,"[0.0104294, 0.010424, 0.01042315, 0.01043337, ...","[0.0104294, 0.010424, 0.01042315, 0.01043337, ...",688981,0.010429,0.010424,0.010423,0.010433,0.835409,0.010433,0.010423,0.102024
6603695,3,"[0.01790007, 0.0179, 0.01790007, 0.8746995, 0....","[0.01790007, 0.0179, 0.01790007, 0.8746995, 0....",688981,0.017900,0.017900,0.017900,0.874699,0.017900,0.017900,0.017900,0.017900

# BPR Dataset

In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
data = pd.read_csv('./data/eastmoney_topic_bert.csv')

/var/folders/yp/6t4g6k6570n9w0267tqrkb4m0000gn/T/ipykernel_63693/2192251410.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./data/eastmoney_topic_bert.csv')

In [5]:
data.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'item_title', 'item_author',
       'article_author', 'article_source', 'item_views', 'item_comment_counts',
       'article_likes', 'year', 'month', 'eastmoney_robo_journalism',
       'media_robo_journalism', 'SMA_robo_journalism', 'viral',
       'article_source_cate', 'item_author_cate', 'sentiment_score',
       'cut_titles', 'topics', 'dominant_topic', 'topics_val', 'stock_code',
       'topics_val1', 'topics_val2', 'topics_val3', 'topics_val4',
       'topics_val5', 'topics_val6', 'topics_val7', 'topics_val8'],
      dtype='object')

In [7]:
columns_to_exclude = ['Unnamed: 0.1', 'Unnamed: 0','cut_titles','topics','dominant_topic','topics_val']  # Add the names of the columns you want to exclude

# Drop the specified columns from the DataFrame
data = data.drop(columns=columns_to_exclude)

In [8]:
cat_cols = ['stock_code',
            'month', 
            'year', 
            'eastmoney_robo_journalism', 
            'media_robo_journalism', 
            'SMA_robo_journalism']
data[cat_cols] =data[cat_cols].apply(lambda c: c.astype('category'))
for cat_col in cat_cols:
    data[f'{cat_col}_index'] = data[cat_col].cat.codes+1 #+1 for nan cases

In [9]:
user_cols = ['item_author_cate', 
            'article_author', 
            'article_source_cate']
data[user_cols] = data[user_cols].apply(lambda c: c.astype('category'))
for user_col in user_cols:
    data[f'{user_col}_index'] = data[user_col].cat.codes+1 #+1 for nan cases

In [12]:
positive_rows = data[data['viral'] == 1]

neg_samples = 100
null_count = 0

# Output file path
output_path = './data/eastmoney_bpr.csv'

# Open the output file
with open(output_path, 'w') as f:
    first_line = True

    # Iterate over each positive row
    for index, positive_row in tqdm(positive_rows.iterrows(), total=positive_rows.shape[0]):
        # Find corresponding negative row based on specified conditions
        negative_rows = data[(data['item_author_cate'] == positive_row['item_author_cate']) &
                            (data['article_author'] == positive_row['article_author']) &
                            (data['article_source_cate'] == positive_row['article_source_cate']) &
                            (data['viral'] == 0)]
        
        # Check if there are valid negative rows
        if len(negative_rows)==0:
            negative_rows = data[(data['stock_code'] == positive_row['stock_code']) &
                                (data['viral'] == 0)]
            
        if len(negative_rows)==0:
            null_count+=1

        elif len(negative_rows)==1:
            concatenated_row = pd.concat([positive_row, negative_rows.add_prefix('neg_')])
            f.write('\\'.join(map(str, concatenated_row.values)) + '\n')
            continue

        elif 1<len(negative_rows)<=neg_samples:
            # Take the first negative row
            negative_row = negative_rows
         
        elif len(negative_rows)>neg_samples:
            # Take the first negative row
            negative_row = negative_rows.sample(n=neg_samples, replace=False)
        
        # Iterate over each sampled negative row
        for _, negative_row in negative_row.iterrows():
            # Concatenate negative row to positive row with modifications
            concatenated_row = pd.concat([positive_row, negative_row.add_prefix('neg_')])

            if first_line:
                f.write('\\'.join(map(str, concatenated_row.keys()))+'\n')
                first_line = False

            # Write the concatenated row to the file
            f.write('\\'.join(map(str, concatenated_row.values)) + '\n')
        
# with open(output_path, 'r') as file:
#     existing_content = file.read()
# src=open(output_path,"w") 
# src.write(','.join(map(str, concatenated_row.keys()))+'\n' + existing_content) 
# src.close()

 10%|▉         | 31379/315556 [53:45<8:06:52,  9.73it/s]

AttributeError: 'Series' object has no attribute 'iterrows'

In [4]:
test_read = pd.read_csv('./data/eastmoney_bpr.csv',sep='\\')

In [6]:
test_read.describe(include='all')

,item_title,item_author,article_author,article_source,item_views,item_comment_counts,article_likes,year,month,eastmoney_robo_journalism,...,neg_topics_val8,neg_stock_code_index,neg_month_index,neg_year_index,neg_eastmoney_robo_journalism_index,neg_media_robo_journalism_index,neg_SMA_robo_journalism_index,neg_item_author_cate_index,neg_article_author_index,neg_article_source_cate_index
count,27368,27368,27368.0,27368,27368.000000,27368.000000,27368.000000,27368.000000,27368.000000,27368.0,...,27368.000000,27368.000000,27368.000000,27368.000000,27368.0,27368.0,27368.0,27368.000000,27368.000000,27368.000000
unique,409,27,NaN,152,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,泛海控股股价创逾195个月新低,股友H53p867689,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,300,6538,NaN,18510,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,0.0,NaN,10268.795126,6.392502,9.160370,2021.064674,6.427360,0.0,...,0.161624,67.592224,6.539572,3.241084,1.0,1.0,1.0,23.027770,1.561130,1.785479
std,NaN,NaN,0.0,NaN,16290.769615,13.237972,8.760282,0.694384,2.891742,0.0,...,0.200848,39.229383,2.905530,0.743968,0.0,0.0,0.0,11.918474,0.496258,1.183058
min,NaN,NaN,0.0,NaN,5017.000000,0.000000,0.000000,2020.000000,1.000000,0.0,...,0.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000,1.000000
25%,NaN,NaN,0.0,NaN,5767.000000,1.000000,2.000000,2021.000000,4.000000,0.0,...,0.010433,33.000000,4.000000,3.000000,1.0,1.0,1.0,13.000000,1.000000,1.000000
50%,NaN,NaN,0.0,NaN,6905.000000,3.000000,7.000000,2021.000000,5.000000,0.0,...,0.092885,67.000000,7.000000,3.000000,1.0,1.0,1.0,29.000000,2.000000,1.000000
75%,NaN,NaN,0.0,NaN,10632.000000,8.000000,14.000000,2021.000000,9.000000,0.0,...,0.268681,98.000000,9.000000,4.000000,1.0,1.0,1.0,32.000000,2.000000,3.000000
max,NaN,NaN,0.0,NaN,258000.000000,216.000000,76.000000,2023.000000,12.000000,0.0,...,0.927058,146.000000,12.000000,5.000000,1.0,1.0,1.0,43.000000,2.000000,7.000000

In [13]:
import pandas as pd

In [21]:
with open("./data/eastmoney_bpr_train.csv", 'r') as f:
    for i in range(100):
        # if i == 67:
        print(f.readline())

item_title*item_author*article_author*article_source*item_views*item_comment_counts*article_likes*year*month*eastmoney_robo_journalism*media_robo_journalism*SMA_robo_journalism*viral*article_source_cate*item_author_cate*sentiment_score*stock_code*topics_val1*topics_val2*topics_val3*topics_val4*topics_val5*topics_val6*topics_val7*topics_val8*stock_code_index*month_index*year_index*eastmoney_robo_journalism_index*media_robo_journalism_index*SMA_robo_journalism_index*item_author_cate_index*article_author_index*article_source_cate_index*neg_item_title*neg_item_author*neg_article_author*neg_article_source*neg_item_views*neg_item_comment_counts*neg_article_likes*neg_year*neg_month*neg_eastmoney_robo_journalism*neg_media_robo_journalism*neg_SMA_robo_journalism*neg_viral*neg_article_source_cate*neg_item_author_cate*neg_sentiment_score*neg_stock_code*neg_topics_val1*neg_topics_val2*neg_topics_val3*neg_topics_val4*neg_topics_val5*neg_topics_val6*neg_topics_val7*neg_topics_val8*neg_stock_code_index*neg_month_index*neg_year_index*neg_eastmoney_robo_journalism_index*neg_media_robo_journalism_index*neg_SMA_robo_journalism_index*neg_item_author_cate_index*neg_article_author_index*neg_article_source_cate_index

芯片半导体板块震荡回升 佰维存储再创上市新高*佰维存储资讯*0*财联社*6103*12*6*2023.0*4.0*0.0*1.0*0.0*1.0*财联社*佰维存储资讯*0.1528650091721462*688525*0.193078*0.10232*0.011372*0.556776*0.1023301*0.011372*0.01137301*0.011375765*4936*4*7*1*2*1*922*5*208*佰维存储：公司产品暂未涉及ChatGPT等人工智能领域*佰维存储资讯*0*财联社*3939*27*11*2023.0*4.0*0.0*1.0*0.0*0.0*财联社*佰维存储资讯*-0.0784815701571759*688525*0.1930072*0.01136792*0.01136792*0.738785*0.01136792*0.01136792*0.01136792*0.011367924*4936*4*7*1*2*1*922*5*208

芯片半导体板块震荡回升 佰维存储再创上市新高*佰维存储资讯*0*财联社*6103*12*6*2023.0*4.0*0.0*1.0*0.0*1.0*财联社*佰维存储资讯*0.1528650091721462*688525*0.193078*0.10232*0.011372*0.556776*0.1023301*0.011372*0.01137301*0.011375765*4936*4*7*1*2*1*922*5*208*佰维存储：公司产品未涉及ChatGPT等人工智能领域*佰维存储资讯*0*财联社*4938*29*8*2023.0*4.0*0.0*1.0*0.0*0.0*财联社*佰维存储资讯*-0.0104942380647991*688525*0.1930047*0.01136777*0.01136777*0.738788*0.01136777*0.01136777*0.01136777*0.011367779*4936*4*7*1*2*1*922*5*208

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*贾跃亭个人破产重组正式确认 但他的旧事并未完全结束*乐视退资讯*伍洋宇*界面新闻*2059*1*3*2020.0*5.0*0.0*0.0*0.0*0.0*界面新闻*乐视退资讯*-0.0042360824573896*300104*0.8556928*0.086566806*0.0*0.0*0.0*0.0*0.0*0.0*1657*5*4*1*1*1*734*288*166

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视网：即便贾跃亭申请破产成功 90亿元债务也要还*乐视退资讯*0*新京报*4050*26*4*2020.0*5.0*0.0*1.0*0.0*0.0*新京报*乐视退资讯*-0.0183771266317923*300104*0.08659612*0.086444*0.701913*0.08655058*0.0*0.0*0.0*0.0*1657*5*4*1*2*1*734*5*139

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视网半年亏百亿背后：乐视生态疯狂融资终成“巨雷”*乐视退资讯*0*每日经济新闻*4117*0*0*2019.0*8.0*0.0*0.0*0.0*0.0*每日经济新闻*乐视退资讯*0.0961096428102935*300104*0.01137339*0.1023394*0.01137272*0.738183*0.0113733*0.01137264*0.10261214*0.011372522*1657*8*3*1*1*1*734*5*153

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视退盘中最低0.90元，连续6日创历史新低*新低个股一览*0*0*537*0*1*2020.0*6.0*0.0*0.0*1.0*0.0*0*新低个股一览*-0.1073910658333127*300104*0.01049999*0.136055*0.01049999*0.519861*0.291581*0.01049999*0.01049999*0.010502342*1657*6*4*1*1*2*2685*1*1

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视网：一季度预亏1.5亿元-1.55亿元*乐视退资讯*于蒙蒙*中证网*1920*8*3*2020.0*4.0*0.0*1.0*0.0*0.0*中证网*乐视退资讯*-0.0330132057052584*300104*0.01389997*0.3356049*0.01389997*0.23564*0.3592218*0.01392762*0.01389997*0.013900715*1657*4*4*1*2*1*734*193*74

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*FF全球合伙人联名致信贾跃亭债权人 呼吁为破产重组投*乐视退资讯*0*证券时报e公司*2721*19*12*2020.0*4.0*0.0*1.0*0.0*0.0*证券时报e公司*乐视退资讯*-0.228772633529323*300104*0.01139734*0.01139734*0.01139734*0.737908*0.1025664*0.01139734*0.01139734*0.1025387*1657*4*4*1*2*1*734*5*190

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视网一季度预亏近2亿元：乐融致新出表 经营局面未能*乐视退资讯*0*澎湃新闻*4907*5*0*2019.0*4.0*0.0*0.0*0.0*0.0*澎湃新闻*乐视退资讯*0.0324631021807396*300104*0.01043406*0.0966419*0.01043406*0.506906*0.3442797*0.01043541*0.01043446*0.010434062*1657*4*3*1*1*1*734*5*162

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视退盘中最低0.17元，创历史新低*新低个股一览*0*0*2053*0*0*2020.0*7.0*0.0*0.0*1.0*0.0*0*新低个股一览*-0.1227509541758631*300104*0.013991863*0.013991863*0.013991863*0.68223*0.2338148*0.013991863*0.013991863*0.0139918635*1657*7*4*1*1*2*2685*1*1

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*贾跃亭是不是乐视网实际控制人？乐视网与乐视控股各执*乐视退资讯*钱童心*第一财经*3039*15*8*2020.0*5.0*0.0*0.0*0.0*0.0*第一财经*乐视退资讯*-0.0393458385673872*300104*0.2304005*0.011391*0.01139097*0.70125*0.01139223*0.01139132*0.01139121*0.0113924565*1657*5*4*1*1*1*734*5155*170

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视体育被吊销营业执照：或因开业后自行停业连续6个*乐视退资讯*0*澎湃新闻*4840*2*0*2019.0*7.0*0.0*0.0*0.0*0.0*澎湃新闻*乐视退资讯*-0.1680624138501324*300104*0.1248142*0.080777*0.506556*0.1801361*0.080786444*0.0*0.0*0.0*1657*7*3*1*1*1*734*5*162

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视网终局：终止上市 实控人引争议*乐视退资讯*0*新京报*1334*4*3*2020.0*5.0*0.0*0.0*0.0*0.0*新京报*乐视退资讯*0.0159688113760803*300104*0.16089*0.01787588*0.0178758*0.4458653*0.303864*0.01787588*0.01787588*0.017875887*1657*5*4*1*1*1*734*5*139

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视网收关注函 要求核实说明融创相关方是否存在规避*乐视退资讯*0*上海证券报*2942*6*7*2020.0*6.0*0.0*1.0*0.0*0.0*上海证券报*乐视退资讯*0.0061201224051952*300104*0.62991*0.3200029*0.0*0.0*0.0*0.0*0.0*0.0*1657*6*4*1*2*1*734*5*23

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*贾跃亭发致歉信：从没有忘记乐视网股民 会协调赔偿事*乐视退资讯*0*第一财经*2003*3*2*2020.0*7.0*0.0*0.0*0.0*0.0*第一财经*乐视退资讯*0.0232043313476595*300104*0.01043571*0.01043571*0.093908*0.75367*0.01043571*0.01043571*0.01043571*0.100236185*1657*7*4*1*1*1*734*5*170

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视退盘中最低0.32元，连续16日创历史新低*新低个股一览*0*0*364*0*2*2020.0*6.0*0.0*0.0*1.0*0.0*0*新低个股一览*-0.1252443531840004*300104*0.0104877*0.0943866*0.0104877*0.43553*0.335798*0.01052648*0.09229*0.010489823*1657*6*4*1*1*2*2685*1*1

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*28万股民大逃生 券商惨成接盘侠！孙宏斌提前“割肉”*乐视退资讯*0*21世纪经济报道*4005*36*51*2020.0*6.0*0.0*0.0*0.0*0.0*21世纪经济报道*乐视退资讯*-0.0490165446434033*300104*0.01571128*0.01571128*0.01571128*0.1542297*0.37442*0.2671253*0.01571128*0.14137907*1657*6*4*1*1*1*734*5*3

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*陈思成工作室起诉乐视网 追偿股权收购款近2900万元*乐视退资讯*谢若琳*证券日报*1382*4*2*2020.0*4.0*0.0*0.0*0.0*0.0*证券日报*乐视退资讯*0.010752361502637*300104*0.013944956*0.0139629*0.01394495*0.4572057*0.4590155*0.01394495*0.01403227*0.01394864*1657*4*4*1*1*1*734*4627*185

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视网：违规对乐视体育担保案中 已出具结果的17起仲*乐视退资讯*陈文斌*证券时报网*2912*7*6*2020.0*4.0*0.0*1.0*0.0*0.0*证券时报网*乐视退资讯*0.052266222783001*300104*0.01137061*0.0113706*0.01137061*0.4951264*0.4366008*0.01141964*0.0113706*0.0113706095*1657*4*4*1*2*1*734*5308*198

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*贾跃亭乐视网持股遭拍卖 起拍价竟是现价3倍 万人围观*乐视退资讯*0*南方都市报*2903*11*9*2020.0*6.0*0.0*0.0*0.0*0.0*南方都市报*乐视退资讯*0.0809915350023127*300104*0.01145133*0.103064*0.01145133*0.28345*0.4140923*0.01145133*0.01145133*0.15358774*1657*6*4*1*1*1*734*5*101

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*从千亿市值到走向退市 细数乐视网四年遭遇的关键转折*乐视退资讯*杨佼*第一财经*3915*9*8*2020.0*5.0*0.0*0.0*0.0*0.0*第一财经*乐视退资讯*0.0323895455111318*300104*0.086633*0.6810856*0.10070728*0.09306603*0.0*0.0*0.0*0.0*1657*5*4*1*1*1*734*2841*170

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*@28万户股民：乐视网今天进入退市整理期！在此之前融*乐视退资讯*0*21世纪经济报道*1934*3*3*2020.0*6.0*0.0*0.0*0.0*0.0*21世纪经济报道*乐视退资讯*0.1446497788396406*300104*0.01138541*0.01138541*0.1024707*0.4513256*0.2981872*0.1024498*0.01138541*0.011410353*1657*6*4*1*1*1*734*5*3

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视网股价四日跌逾三成 “最后时刻”仍有股民挂单买*乐视退资讯*0*新京报*3167*5*0*2019.0*4.0*0.0*0.0*0.0*0.0*新京报*乐视退资讯*-0.0011585985780893*300104*0.7088892*0.165924*0.08043725*0.0*0.0*0.0*0.0*0.0*1657*4*3*1*1*1*734*5*139

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视网:预计前三季度亏损约102亿 计提负债98亿元*乐视退资讯*0*澎湃新闻*3591*6*0*2019.0*10.0*0.0*0.0*0.0*0.0*澎湃新闻*乐视退资讯*-0.1797474849914415*300104*0.08042613*0.151875*0.1595076*0.5724421*0.0*0.0*0.0*0.0*1657*10*3*1*1*1*734*5*162

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视网：负债120亿 未获悉贾跃亭的行程安排*乐视退资讯*0*新京报*4134*8*1*2019.0*5.0*0.0*1.0*0.0*0.0*新京报*乐视退资讯*-0.1582194823382636*300104*0.01392813*0.01393646*0.01392813*0.770084*0.1463172*0.01392812*0.01392813*0.013949357*1657*5*3*1*2*1*734*5*139

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*贾跃亭：个人破产重组程序完成 将补偿乐视股民*乐视退资讯*张一帆*e公司*1127*2*2*2020.0*7.0*0.0*1.0*0.0*0.0*e公司*乐视退资讯*-0.0994355693035648*300104*0.01137838*0.01137838*0.01137838*0.6134482*0.2272964*0.01137838*0.01137838*0.10236332*1657*7*4*1*2*1*734*1637*11

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*贾跃亭称FF汽车最大障碍已消除将推进IPO 乐视退盘突遭*乐视退资讯*王海宣*经济观察报*1315*4*1*2020.0*7.0*0.0*0.0*0.0*0.0*经济观察报*乐视退资讯*0.0011421785274324*300104*0.675821*0.26629376*0.0*0.0*0.0*0.0*0.0*0.0*1657*7*4*1*1*1*734*3693*177

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*贾跃亭破产重组方案正式提交美法院 甘薇放弃财产优先*乐视退资讯*0*澎湃新闻*4051*22*18*2020.0*3.0*0.0*0.0*0.0*0.0*澎湃新闻*乐视退资讯*0.0023134530774842*300104*0.0104315*0.01043851*0.0104315*0.7602888*0.09370199*0.01043286*0.0104315*0.09384315*1657*3*4*1*1*1*734*5*162

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视网退市或已成定局！预亏超112亿 正向贾跃亭追责*乐视退资讯*姚素梅*第一财经*3808*12*1*2020.0*1.0*0.0*0.0*0.0*0.0*第一财经*乐视退资讯*-0.141382364202634*300104*0.01138441*0.069496*0.01138441*0.4651328*0.4084488*0.01138441*0.01138441*0.011384417*1657*1*4*1*1*1*734*1265*170

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视股东大会5分钟结束:董事长拒答提名董事履历问题*乐视退资讯*乔俊婧*澎湃新闻*3553*1*0*2019.0*7.0*0.0*0.0*0.0*0.0*澎湃新闻*乐视退资讯*0.0054417866555275*300104*0.01251631*0.0125228*0.01251631*0.6893464*0.2355491*0.01251631*0.01251631*0.012516316*1657*7*3*1*1*1*734*137*162

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视退盘中最低0.18元，连续22日创历史新低*新低个股一览*0*0*4316*0*1*2020.0*7.0*0.0*0.0*1.0*0.0*0*新低个股一览*-0.0901601780998253*300104*0.01047349*0.0942581*0.01047349*0.433551*0.4197826*0.01051224*0.01047349*0.010475122*1657*7*4*1*1*2*2685*1*1

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*贾跃亭：非上市公司业务一到两年基本可以反弹*乐视退资讯*0*证券时报网*4133*4*1*2017.0*5.0*0.0*1.0*0.0*0.0*证券时报网*乐视退资讯*-0.1648119719903736*300104*0.0156321*0.01563213*0.0156321*0.7655383*0.01563665*0.1406643*0.01563213*0.015632136*1657*5*1*1*2*1*734*5*198

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视网所在的乐融大厦即将拍卖*乐视退资讯*0*中国证券报*3469*8*1*2019.0*11.0*0.0*1.0*0.0*0.0*中国证券报*乐视退资讯*0.3366138888669236*300104*0.0156662*0.0156662*0.0156662*0.7653*0.01568*0.0156662*0.0156662*0.14064787*1657*11*3*1*2*1*734*5*58

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视网按下“退市键”：将进入退市整理期 融创中国0元*乐视退资讯*0*第一财经*1193*1*2*2020.0*6.0*0.0*1.0*0.0*0.0*第一财经*乐视退资讯*-0.0622049389360484*300104*0.08072863*0.501025*0.3734704*0.0*0.0*0.0*0.0*0.0*1657*6*4*1*2*1*734*5*170

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*贾跃亭破产重组程序完成 股民补偿方案可行性待确认*乐视退资讯*0*21世纪经济报道*1813*7*2*2020.0*7.0*0.0*0.0*0.0*0.0*21世纪经济报道*乐视退资讯*-0.1458903121419077*300104*0.01044462*0.01044462*0.01044462*0.648486*0.2053311*0.01044462*0.01044462*0.09395938*1657*7*4*1*1*1*734*5*3

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视网：股东大会同意选举张广辉、武宝雨为非独立董事*乐视退资讯*0*证券时报网*4177*6*2*2019.0*7.0*0.0*1.0*0.0*0.0*证券时报网*乐视退资讯*0.2634522136424901*300104*0.01250849*0.01250849*0.01250849*0.5123274*0.3126715*0.01250849*0.01250849*0.11245849*1657*7*3*1*2*1*734*5*198

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视控股最值钱资产再流拍 贾跃亭欠的钱何时能还？*乐视退资讯*0*中国新闻网*2517*2*1*2019.0*4.0*0.0*0.0*0.0*0.0*中国新闻网*乐视退资讯*-0.0461346949085561*300104*0.011388767*0.01138314*0.011383099*0.823899*0.1077933*0.01138356*0.01138342*0.011385069*1657*4*3*1*1*1*734*5*45

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视网逃生时刻：仅6万元跌停板逃出 多家机构深陷其中*乐视退资讯*0*21世纪经济报道*2212*15*5*2020.0*6.0*0.0*1.0*0.0*0.0*21世纪经济报道*乐视退资讯*-0.0523582263139424*300104*0.0104344*0.1773163*0.09331415*0.6771248*0.01044356*0.0104344*0.010493536*0.010438762*1657*6*4*1*2*1*734*5*3

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视退盘中最低0.39元，连续14日创历史新低*新低个股一览*0*0*834*3*3*2020.0*6.0*0.0*0.0*1.0*0.0*0*新低个股一览*-0.1063254897529418*300104*0.01046666*0.0941966*0.01046666*0.4332587*0.4201721*0.0105042*0.01046666*0.010468282*1657*6*4*1*1*2*2685*1*1

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视网：7月23日召开2019年第三次临时股东大会*乐视退资讯*0*证券时报*3913*2*1*2019.0*7.0*0.0*1.0*0.0*0.0*证券时报*乐视退资讯*-0.000863234477553*300104*0.261474*0.4205312*0.26987308*0.0*0.0*0.0*0.0*0.0*1657*7*3*1*2*1*734*5*189

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视网终止上市 贾跃亭的乐视生态梦灰飞烟灭*乐视退资讯*王珍*第一财经*3246*10*2*2020.0*5.0*0.0*0.0*0.0*0.0*第一财经*乐视退资讯*0.0222632902978744*300104*0.01140986*0.01140856*0.01140905*0.5456883*0.385857*0.01140896*0.01140862*0.011408816*1657*5*4*1*1*1*734*3727*170

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*乐视网上千项商标被拍卖 评估价不足20万*乐视退资讯*0*新京报*4234*22*9*2020.0*6.0*0.0*1.0*0.0*0.0*新京报*乐视退资讯*-0.1153098978221641*300104*0.01391831*0.01391831*0.1252711*0.3086162*0.3247*0.1856949*0.01391831*0.013961971*1657*6*4*1*2*1*734*5*139

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*贾跃亭的FF增设B端业务：否认放弃造车 正推进量产工作*乐视退资讯*0*澎湃新闻*3484*11*19*2020.0*4.0*0.0*0.0*0.0*0.0*澎湃新闻*乐视退资讯*-0.1331947061996913*300104*0.8561*0.086327165*0.0*0.0*0.0*0.0*0.0*0.0*1657*4*4*1*1*1*734*5*162

乐视影业首次被列为失信执行人 估值从98亿一泻千里后*乐视退资讯*卢晓*华夏时报*12050*2*0*2019.0*2.0*0.0*0.0*0.0*1.0*华夏时报*乐视退资讯*-0.0762837703901167*300104*0.08054075*0.1519554*0.42583*0.1397111*0.08054367*0.103518896*0.0*0.0*1657*2*3*1*1*1*734*792*92*贾跃亭公开致歉：个人破产重组完成 将补偿乐视网股民*乐视退资讯*于蒙蒙*中证网*956*0*0*2020.0*7.0*0.0*0.0*0.0*0.0*中证网*乐视退资讯*0.0002934384366168*300104*0.5906907*0.2745765*0.0865988*0.0*0.0*0.0*0.0*0.0*1657*7*4*1*1*1*734*193*74


In [22]:
data = pd.read_csv('./data/eastmoney_bpr_train.csv', delimiter='*',nrows=10)

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("./data/eastmoney_topic_bert.csv")

/var/folders/yp/6t4g6k6570n9w0267tqrkb4m0000gn/T/ipykernel_796/2566476577.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/eastmoney_topic_bert.csv")

In [18]:
data['item_author'].unique()

array(['股友L0L2595133', '一句话财报', '股市胖虎', ..., '退市锐电资讯',
       'DIVERSIFIED ENER资讯', '征宙机械资讯'], dtype=object)

In [24]:
data[['Unnamed: 0.1', 'Unnamed: 0']]

         Unnamed: 0.1  Unnamed: 0
0                   0           0
1                   1           1
2                   2           2
3                   3           3
4                   4           4
...               ...         ...
6603691       6603691     6603691
6603692       6603692     6603692
6603693       6603693     6603693
6603694       6603694     6603694
6603695       6603695     6603695

[6603696 rows x 2 columns]

In [25]:
columns_to_exclude = ['Unnamed: 0.1', 'Unnamed: 0']  # Add the names of the columns you want to exclude
data = data.drop(columns=columns_to_exclude)

In [26]:
data.columns

Index(['item_title', 'item_author', 'article_author', 'article_source',
       'item_views', 'item_comment_counts', 'article_likes', 'year', 'month',
       'eastmoney_robo_journalism', 'media_robo_journalism',
       'SMA_robo_journalism', 'viral', 'article_source_cate',
       'item_author_cate', 'sentiment_score', 'cut_titles', 'topics',
       'dominant_topic', 'topics_val', 'stock_code', 'topics_val1',
       'topics_val2', 'topics_val3', 'topics_val4', 'topics_val5',
       'topics_val6', 'topics_val7', 'topics_val8'],
      dtype='object')

In [29]:
data.to_csv("eastmoney_bert.csv", index=False)

In [31]:
data = pd.read_csv("./data/eastmoney_bert.csv")
data.columns

/var/folders/yp/6t4g6k6570n9w0267tqrkb4m0000gn/T/ipykernel_796/2619987834.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/eastmoney_bert.csv")

Index(['item_title', 'item_author', 'article_author', 'article_source',
       'item_views', 'item_comment_counts', 'article_likes', 'year', 'month',
       'eastmoney_robo_journalism', 'media_robo_journalism',
       'SMA_robo_journalism', 'viral', 'article_source_cate',
       'item_author_cate', 'sentiment_score', 'cut_titles', 'topics',
       'dominant_topic', 'topics_val', 'stock_code', 'topics_val1',
       'topics_val2', 'topics_val3', 'topics_val4', 'topics_val5',
       'topics_val6', 'topics_val7', 'topics_val8'],
      dtype='object')

# fuse industry & sector info

First, I suggest we not use stock_code as features because there are too many stocks, making the model difficult to train and generalize to new stocks. 
Instead, I suggest we use industries. Please see attached for industries matched to our data (about 36 stocks in our sample are not matched). IndustryCode1 has 19 categories (sectors), and IndustryCode2 has 81 categories (industries). Note that each stock might correspond to multiple industries. This industry classification is from CSRC证监会. I have also collected other industry standards like 申银万国2014, 中信证券行业 and 中证2016, but there are about 1000 unmatched stocks, so I did not provide the data for now.

Second, I suggest we not use item_author, article_source and article_author directly, either. This is because I feel that using these variables directly reduces interpretability of model results and generalizability to new sources/authors. The three variables I created, easymoney_robo_journalism, media_robo_journalism and SMA_robo_journalism capture some information about sources (Easymoney vs. media vs. SMA) and authors (robot vs. human). 
If the model team feel necessary to include more information about sources and authors, I suggest we reduce the categories of sources or authors to 10-20, by using top 10/20 + an artificial category called OTHER.

In [1]:
import pandas as pd
import pyreadr

In [2]:
ind_data = pyreadr.read_r('./data/industry_csrc2012_matched.RData')
# print(data.keys())
ind_data = ind_data["industry_csrc2012_matched"]

In [3]:
ind_data.columns

Index(['stock_code', 'IndustryCode1', 'IndustryName1', 'IndustryCode2',
       'IndustryName2'],
      dtype='object')

In [4]:
ind_data.describe(include='all')

       stock_code IndustryCode1 IndustryName1 IndustryCode2     IndustryName2
count        5410          5410          5410          5410              5410
unique       5016            19            19            81                81
top        002266             C           制造业           C39  计算机、通信和其他电子设备制造业
freq            3          3506          3506           586               586

In [5]:
ind_data['stock_code'] = ind_data['stock_code'].astype(int)

In [6]:
ind_data

,stock_code,IndustryCode1,IndustryName1,IndustryCode2,IndustryName2
0,1,J,金融业,J66,货币金融服务
1,2,K,房地产业,K70,房地产业
2,4,C,制造业,C27,医药制造业
3,4,I,信息传输、软件和信息技术服务业,I65,软件和信息技术服务业
4,5,N,水利、环境和公共设施管理业,N77,生态保护和环境治理业
...,...,...,...,...,...
5405,600270,G,交通运输、仓储和邮政业,G58,装卸搬运和运输代理业
5406,600401,C,制造业,C39,计算机、通信和其他电子设备制造业
5407,600432,C,制造业,C32,有色金属冶炼及压延加工业
5408,600747,F,批发和零售业,F51,批发业
5409,600806,C,制造业,C34,通用设备制造业

In [7]:
raw_data = pd.read_csv("./data/eastmoney_bert.csv")

In [8]:
raw_data.columns

Index(['item_title', 'item_author_cate', 'article_author',
       'article_source_cate', 'month', 'eastmoney_robo_journalism',
       'media_robo_journalism', 'SMA_robo_journalism', 'viral',
       'sentiment_score', 'topics_val1', 'topics_val2', 'topics_val3',
       'topics_val4', 'topics_val5', 'stock_code'],
      dtype='object')

In [9]:
raw_data['stock_code'].dtype

dtype('int64')

In [10]:
merged_data = raw_data.merge(ind_data, on='stock_code', how='left')

In [11]:
# check merge result: 36 stocks not matched
merged_data[merged_data['IndustryCode1'].isnull()]['stock_code'].nunique()

36

In [12]:
print(f"rows b4 merging: {len(merged_data)}")
merged_data = merged_data.dropna()
print(f"rows after merging: {len(merged_data)}")

rows b4 merging: 7152042
rows after merging: 7138784

In [13]:
merged_data.to_csv('./data/eastmoney_bert_ind.csv', index=False)