In [11]:
import pandas as pd
import pyreadr

In [12]:
data = pyreadr.read_r('./data/data.RData')
# print(data.keys())
data = data["eastmoney_to_ntu"]

In [13]:
data.columns

Index(['stock_code', 'item_title', 'article_postdate', 'item_author',
       'article_author', 'article_source', 'article_content', 'item_views',
       'item_comment_counts', 'article_likes', 'date', 'year', 'month',
       'eastmoney_robo_journalism', 'media_robo_journalism',
       'SMA_robo_journalism', 'viral'],
      dtype='object')

In [14]:
data = data[['item_title', 'stock_code', 'item_author', 'article_author', 'article_source', 'eastmoney_robo_journalism', 'media_robo_journalism', 'SMA_robo_journalism', 'year', 'month','viral']]

In [17]:
cat_cols = ['stock_code', 'item_author', 'article_author', 'article_source', 'eastmoney_robo_journalism', 'media_robo_journalism', 'SMA_robo_journalism', 'year', 'month','viral']
data[cat_cols] = data[cat_cols].apply(lambda c: c.astype('category'))

In [18]:
data.describe(include='all')

,item_title,stock_code,item_author,article_author,article_source,eastmoney_robo_journalism,media_robo_journalism,SMA_robo_journalism,year,month,viral
count,6603696,6603696,6603696,6603262,6603696,6603696.0,6603696.0,6603696.0,6603696.0,6603696.0,6603696.0
unique,6405069,5052,5159,5799,2045,2.0,2.0,2.0,7.0,12.0,2.0
top,百联股份今日热门盘点,600519,股市胖虎,,东方财富Choice数据,1.0,0.0,0.0,2022.0,12.0,0.0
freq,116,10411,426876,3252893,4179997,3634888.0,5709855.0,4878621.0,1987630.0,680738.0,6288140.0

In [16]:
data.to_csv('./data/p_data_wo_content.csv')

In [3]:
import pandas as pd

In [3]:
data1 = pd.read_csv('./data/eastmoney_data_senti.csv')

/var/folders/52/5ygfc9d94sscvjzdx8yvt2sm0000gq/T/ipykernel_82384/3929029688.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./data/eastmoney_data_senti.csv')

In [4]:
data1.describe(include='all')

,item_title,item_author,article_author,article_source,item_views,item_comment_counts,article_likes,year,month,eastmoney_robo_journalism,media_robo_journalism,SMA_robo_journalism,viral,article_source_cate,item_author_cate,sentiment_score
count,6603696,6603696,6603696,6603696,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6603696,6603696,6.603696e+06
unique,6405069,5159,5800,2045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,219,5158,NaN
top,百联股份今日热门盘点,股市胖虎,财智星,东方财富Choice数据,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,东方财富,股市胖虎,NaN
freq,116,426876,3039821,4179997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4181680,426876,NaN
mean,NaN,NaN,NaN,NaN,1.765761e+03,3.481803e+00,2.901667e+00,2.021472e+03,6.593989e+00,5.504324e-01,1.353547e-01,2.612287e-01,4.778476e-02,NaN,NaN,8.064672e-02
std,NaN,NaN,NaN,NaN,3.372575e+04,2.461240e+01,1.583375e+01,1.164505e+00,3.552674e+00,4.974501e-01,3.421020e-01,4.393043e-01,2.133105e-01,NaN,NaN,1.316210e-01
min,NaN,NaN,NaN,NaN,2.700000e+01,0.000000e+00,0.000000e+00,2.017000e+03,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,-8.461144e-01
25%,NaN,NaN,NaN,NaN,3.410000e+02,0.000000e+00,0.000000e+00,2.021000e+03,4.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,4.519547e-03
50%,NaN,NaN,NaN,NaN,5.070000e+02,0.000000e+00,1.000000e+00,2.022000e+03,7.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,8.821894e-02
75%,NaN,NaN,NaN,NaN,8.310000e+02,1.000000e+00,3.000000e+00,2.022000e+03,1.000000e+01,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,NaN,NaN,1.616404e-01
max,NaN,NaN,NaN,NaN,7.625000e+07,1.100000e+04,3.250000e+03,2.023000e+03,1.200000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,NaN,NaN,9.834914e-01

In [4]:
data2 = pd.read_csv('./data/eastmoney_topic.csv')

/var/folders/52/5ygfc9d94sscvjzdx8yvt2sm0000gq/T/ipykernel_84209/2502695927.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data2 = pd.read_csv('./data/eastmoney_topic.csv')

In [7]:
data2.describe(include='all')

,item_title,item_author,article_author,article_source,item_views,item_comment_counts,article_likes,year,month,eastmoney_robo_journalism,media_robo_journalism,SMA_robo_journalism,viral,article_source_cate,item_author_cate,sentiment_score,cut_titles,topics,dominant_topic
count,6603696,6603696,6603696,6603696,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6603696,6603696,6.603696e+06,6603696,6603696,6.603696e+06
unique,6405069,5159,5800,2045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,219,5158,NaN,6399519,6549595,NaN
top,百联股份今日热门盘点,股市胖虎,财智星,东方财富Choice数据,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,东方财富,股市胖虎,NaN,"['百联', '股份', '今日', '热门', '盘点']","[(0, 0.020837696), (1, 0.020837696), (2, 0.854...",NaN
freq,116,426876,3039821,4179997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4181680,426876,NaN,116,82,NaN
mean,NaN,NaN,NaN,NaN,1.765761e+03,3.481803e+00,2.901667e+00,2.021472e+03,6.593989e+00,5.504324e-01,1.353547e-01,2.612287e-01,4.778476e-02,NaN,NaN,8.064672e-02,NaN,NaN,4.003182e+00
std,NaN,NaN,NaN,NaN,3.372575e+04,2.461240e+01,1.583375e+01,1.164505e+00,3.552674e+00,4.974501e-01,3.421020e-01,4.393043e-01,2.133105e-01,NaN,NaN,1.316210e-01,NaN,NaN,2.141182e+00
min,NaN,NaN,NaN,NaN,2.700000e+01,0.000000e+00,0.000000e+00,2.017000e+03,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,-8.461144e-01,NaN,NaN,0.000000e+00
25%,NaN,NaN,NaN,NaN,3.410000e+02,0.000000e+00,0.000000e+00,2.021000e+03,4.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,4.519547e-03,NaN,NaN,3.000000e+00
50%,NaN,NaN,NaN,NaN,5.070000e+02,0.000000e+00,1.000000e+00,2.022000e+03,7.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,8.821894e-02,NaN,NaN,5.000000e+00
75%,NaN,NaN,NaN,NaN,8.310000e+02,1.000000e+00,3.000000e+00,2.022000e+03,1.000000e+01,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,NaN,NaN,1.616404e-01,NaN,NaN,6.000000e+00
max,NaN,NaN,NaN,NaN,7.625000e+07,1.100000e+04,3.250000e+03,2.023000e+03,1.200000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,NaN,NaN,9.834914e-01,NaN,NaN,7.000000e+00

In [10]:
data2['topics'][0]

'[(0, 0.013899067), (1, 0.013960035), (2, 0.12508488), (3, 0.013899348), (4, 0.6523453), (5, 0.013910475), (6, 0.013899067), (7, 0.1530018)]'

In [9]:
data2['dominant_topic']

0          4
1          4
2          0
3          1
4          0
          ..
6603691    4
6603692    4
6603693    4
6603694    4
6603695    3
Name: dominant_topic, Length: 6603696, dtype: int64

In [22]:
data2['topics_val'] = data2['topics'].apply(lambda x: [float(tup.split(',')[1][1:-1]) for tup in x.strip('[]').split('),')])

In [28]:
data3 = pd.read_csv('./data/p_data_wo_content.csv')

/var/folders/52/5ygfc9d94sscvjzdx8yvt2sm0000gq/T/ipykernel_84209/1337043991.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  data3 = pd.read_csv('./data/p_data_wo_content.csv')

In [29]:
data3.describe(include='all')

,Unnamed: 0,item_title,stock_code,item_author,article_author,article_source,eastmoney_robo_journalism,media_robo_journalism,SMA_robo_journalism,year,month,viral
count,6.603696e+06,6603696,6.603696e+06,6603696,3350369,5569905,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06
unique,NaN,6405069,NaN,5159,5798,2044,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,百联股份今日热门盘点,NaN,股市胖虎,财智星,东方财富Choice数据,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,116,NaN,426876,3039821,4179997,NaN,NaN,NaN,NaN,NaN,NaN
mean,3.301848e+06,NaN,3.414867e+05,NaN,NaN,NaN,5.504324e-01,1.353547e-01,2.612287e-01,2.021472e+03,6.593989e+00,4.778476e-02
std,1.906323e+06,NaN,2.724346e+05,NaN,NaN,NaN,4.974501e-01,3.421020e-01,4.393043e-01,1.164505e+00,3.552674e+00,2.133105e-01
min,0.000000e+00,NaN,1.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,2.017000e+03,1.000000e+00,0.000000e+00
25%,1.650924e+06,NaN,2.522000e+03,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,2.021000e+03,4.000000e+00,0.000000e+00
50%,3.301848e+06,NaN,3.008900e+05,NaN,NaN,NaN,1.000000e+00,0.000000e+00,0.000000e+00,2.022000e+03,7.000000e+00,0.000000e+00
75%,4.952771e+06,NaN,6.010000e+05,NaN,NaN,NaN,1.000000e+00,0.000000e+00,1.000000e+00,2.022000e+03,1.000000e+01,0.000000e+00
max,6.603695e+06,NaN,6.889810e+05,NaN,NaN,NaN,1.000000e+00,1.000000e+00,1.000000e+00,2.023000e+03,1.200000e+01,1.000000e+00

In [30]:
data2['stock_code'] = data3['stock_code']

In [34]:
data2.describe(include='all')

In [33]:
data2.to_csv('./data/eastmoney_topic_bert.csv')

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./data/eastmoney_topic_bert.csv')

/var/folders/52/5ygfc9d94sscvjzdx8yvt2sm0000gq/T/ipykernel_88422/2192251410.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./data/eastmoney_topic_bert.csv')

In [3]:
# Convert strings to lists
data['topics_val'] = data['topics_val'].apply(lambda x: list(map(float, x.strip('[]').split(','))))

# Create separate columns for each value
data[['topics_val1', 'topics_val2', 'topics_val3', 'topics_val4', 'topics_val5', 'topics_val6', 'topics_val7', 'topics_val8']] = pd.DataFrame(data['topics_val'].tolist())

In [4]:
data.columns

Index(['Unnamed: 0', 'item_title', 'item_author', 'article_author',
       'article_source', 'item_views', 'item_comment_counts', 'article_likes',
       'year', 'month', 'eastmoney_robo_journalism', 'media_robo_journalism',
       'SMA_robo_journalism', 'viral', 'article_source_cate',
       'item_author_cate', 'sentiment_score', 'cut_titles', 'topics',
       'dominant_topic', 'topics_val', 'stock_code', 'topics_val1',
       'topics_val2', 'topics_val3', 'topics_val4', 'topics_val5',
       'topics_val6', 'topics_val7', 'topics_val8'],
      dtype='object')

In [5]:
data['topics_val1']

0          0.013899
1          0.013894
2          0.236181
3          0.240432
4          0.236203
             ...
6603691    0.010427
6603692    0.011381
6603693    0.086750
6603694    0.010429
6603695    0.017900
Name: topics_val1, Length: 6603696, dtype: float64

In [11]:
data.fillna(0, inplace=True)

In [12]:
data[['dominant_topic','topics_val','topics_val', 'stock_code', 'topics_val1',
       'topics_val2', 'topics_val3', 'topics_val4', 'topics_val5',
       'topics_val6', 'topics_val7', 'topics_val8']]

,dominant_topic,topics_val,topics_val,stock_code,topics_val1,topics_val2,topics_val3,topics_val4,topics_val5,topics_val6,topics_val7,topics_val8
0,4,"[0.01389906, 0.01396003, 0.1250848, 0.01389934...","[0.01389906, 0.01396003, 0.1250848, 0.01389934...",1,0.013899,0.013960,0.125085,0.013899,0.652345,0.013910,0.013899,0.153002
1,4,"[0.01389387, 0.01399399, 0.1250381, 0.01389387...","[0.01389387, 0.01399399, 0.1250381, 0.01389387...",1,0.013894,0.013994,0.125038,0.013894,0.657507,0.013894,0.013894,0.147885
2,0,"[0.236181, 0.2328616, 0.2075994, 0.01389296, 0...","[0.236181, 0.2328616, 0.2075994, 0.01389296, 0...",1,0.236181,0.232862,0.207599,0.013893,0.013895,0.013894,0.153427,0.128248
3,1,"[0.2404324, 0.4798751, 0.1547088, 0.08651243]","[0.2404324, 0.4798751, 0.1547088, 0.08651243]",1,0.240432,0.479875,0.154709,0.086512,0.000000,0.000000,0.000000,0.000000
4,0,"[0.2362029, 0.2337483, 0.207625, 0.01389421, 0...","[0.2362029, 0.2337483, 0.207625, 0.01389421, 0...",1,0.236203,0.233748,0.207625,0.013894,0.013894,0.013894,0.153434,0.127307
...,...,...,...,...,...,...,...,...,...,...,...,...
6603691,4,"[0.01042749, 0.0963754, 0.093776, 0.1346095, 0...","[0.01042749, 0.0963754, 0.093776, 0.1346095, 0...",688981,0.010427,0.096375,0.093776,0.134609,0.633542,0.010421,0.010421,0.010427
6603692,4,"[0.01138086, 0.2002967, 0.01137208, 0.01138353...","[0.01138086, 0.2002967, 0.01137208, 0.01138353...",688981,0.011381,0.200297,0.011372,0.011384,0.731438,0.011376,0.011372,0.011380
6603693,4,"[0.08675, 0.3957798, 0.46922246]","[0.08675, 0.3957798, 0.46922246]",688981,0.086750,0.395780,0.469222,0.000000,0.000000,0.000000,0.000000,0.000000
6603694,4,"[0.0104294, 0.010424, 0.01042315, 0.01043337, ...","[0.0104294, 0.010424, 0.01042315, 0.01043337, ...",688981,0.010429,0.010424,0.010423,0.010433,0.835409,0.010433,0.010423,0.102024
6603695,3,"[0.01790007, 0.0179, 0.01790007, 0.8746995, 0....","[0.01790007, 0.0179, 0.01790007, 0.8746995, 0....",688981,0.017900,0.017900,0.017900,0.874699,0.017900,0.017900,0.017900,0.017900

# BPR Dataset

In [3]:
import pandas as pd
from tqdm import tqdm

In [2]:
data = pd.read_csv('./data/eastmoney_topic_bert.csv', nrows=64000)

NameError: name 'pd' is not defined

In [78]:
data.columns

Index(['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', 'item_title',
       'item_author', 'article_author', 'article_source', 'item_views',
       'item_comment_counts', 'article_likes', 'year', 'month',
       'eastmoney_robo_journalism', 'media_robo_journalism',
       'SMA_robo_journalism', 'viral', 'article_source_cate',
       'item_author_cate', 'sentiment_score', 'cut_titles', 'topics',
       'dominant_topic', 'topics_val', 'stock_code', 'topics_val1',
       'topics_val2', 'topics_val3', 'topics_val4', 'topics_val5',
       'topics_val6', 'topics_val7', 'topics_val8'],
      dtype='object')

In [79]:
columns_to_exclude = ['Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0','cut_titles','topics','dominant_topic','topics_val']  # Add the names of the columns you want to exclude

# Drop the specified columns from the DataFrame
data = data.drop(columns=columns_to_exclude)

In [80]:
cat_cols = ['stock_code',
            'month', 
            'year', 
            'eastmoney_robo_journalism', 
            'media_robo_journalism', 
            'SMA_robo_journalism']
data[cat_cols] =data[cat_cols].apply(lambda c: c.astype('category'))
for cat_col in cat_cols:
    data[f'{cat_col}_index'] = data[cat_col].cat.codes+1 #+1 for nan cases

In [81]:
user_cols = ['item_author_cate', 
            'article_author', 
            'article_source_cate']
data[user_cols] = data[user_cols].apply(lambda c: c.astype('category'))
for user_col in user_cols:
    data[f'{user_col}_index'] = data[user_col].cat.codes+1 #+1 for nan cases

In [88]:
positive_rows = data[data['viral'] == 1]

neg_samples = 100
null_count = 0

# Output file path
output_path = './data/eastmoney_bpr.csv'

# Open the output file
with open(output_path, 'w') as f:
    first_line = True

    # Iterate over each positive row
    for index, positive_row in tqdm(positive_rows.iterrows(), total=positive_rows.shape[0]):
        # Find corresponding negative row based on specified conditions
        negative_rows = data[(data['item_author_cate'] == positive_row['item_author_cate']) &
                            (data['article_author'] == positive_row['article_author']) &
                            (data['article_source_cate'] == positive_row['article_source_cate']) &
                            (data['viral'] == 0)]
        
        # Check if there are valid negative rows
        if len(negative_rows)==0:
            negative_rows = data[(data['stock_code'] == positive_row['stock_code']) &
                                (data['viral'] == 0)]
            
        if len(negative_rows)==0:
            null_count+=1

        elif 0<len(negative_rows)<=neg_samples:
            # Take the first negative row
            negative_row = negative_rows
        
        elif len(negative_rows)>neg_samples:
            # Take the first negative row
            negative_row = negative_rows.sample(n=neg_samples, replace=False)
        
        # Iterate over each sampled negative row
        for _, negative_row in negative_row.iterrows():
            # Concatenate negative row to positive row with modifications
            concatenated_row = pd.concat([positive_row, negative_row.add_prefix('neg_')])

            if first_line:
                f.write('\\'.join(map(str, concatenated_row.keys()))+'\n')
                first_line = False

            # Write the concatenated row to the file
            f.write('\\'.join(map(str, concatenated_row.values)) + '\n')
        
# with open(output_path, 'r') as file:
#     existing_content = file.read()
# src=open(output_path,"w") 
# src.write(','.join(map(str, concatenated_row.keys()))+'\n' + existing_content) 
# src.close()

100%|██████████| 417/417 [00:04<00:00, 94.52it/s]

In [4]:
test_read = pd.read_csv('./data/eastmoney_bpr.csv',sep='\\')

In [6]:
test_read.describe(include='all')

,item_title,item_author,article_author,article_source,item_views,item_comment_counts,article_likes,year,month,eastmoney_robo_journalism,...,neg_topics_val8,neg_stock_code_index,neg_month_index,neg_year_index,neg_eastmoney_robo_journalism_index,neg_media_robo_journalism_index,neg_SMA_robo_journalism_index,neg_item_author_cate_index,neg_article_author_index,neg_article_source_cate_index
count,27368,27368,27368.0,27368,27368.000000,27368.000000,27368.000000,27368.000000,27368.000000,27368.0,...,27368.000000,27368.000000,27368.000000,27368.000000,27368.0,27368.0,27368.0,27368.000000,27368.000000,27368.000000
unique,409,27,NaN,152,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,泛海控股股价创逾195个月新低,股友H53p867689,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,300,6538,NaN,18510,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,0.0,NaN,10268.795126,6.392502,9.160370,2021.064674,6.427360,0.0,...,0.161624,67.592224,6.539572,3.241084,1.0,1.0,1.0,23.027770,1.561130,1.785479
std,NaN,NaN,0.0,NaN,16290.769615,13.237972,8.760282,0.694384,2.891742,0.0,...,0.200848,39.229383,2.905530,0.743968,0.0,0.0,0.0,11.918474,0.496258,1.183058
min,NaN,NaN,0.0,NaN,5017.000000,0.000000,0.000000,2020.000000,1.000000,0.0,...,0.000000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,1.000000,1.000000
25%,NaN,NaN,0.0,NaN,5767.000000,1.000000,2.000000,2021.000000,4.000000,0.0,...,0.010433,33.000000,4.000000,3.000000,1.0,1.0,1.0,13.000000,1.000000,1.000000
50%,NaN,NaN,0.0,NaN,6905.000000,3.000000,7.000000,2021.000000,5.000000,0.0,...,0.092885,67.000000,7.000000,3.000000,1.0,1.0,1.0,29.000000,2.000000,1.000000
75%,NaN,NaN,0.0,NaN,10632.000000,8.000000,14.000000,2021.000000,9.000000,0.0,...,0.268681,98.000000,9.000000,4.000000,1.0,1.0,1.0,32.000000,2.000000,3.000000
max,NaN,NaN,0.0,NaN,258000.000000,216.000000,76.000000,2023.000000,12.000000,0.0,...,0.927058,146.000000,12.000000,5.000000,1.0,1.0,1.0,43.000000,2.000000,7.000000