In [11]:
import pandas as pd
import pyreadr

In [12]:
data = pyreadr.read_r('./data/data.RData')
# print(data.keys())
data = data["eastmoney_to_ntu"]

In [13]:
data.columns

Index(['stock_code', 'item_title', 'article_postdate', 'item_author',
       'article_author', 'article_source', 'article_content', 'item_views',
       'item_comment_counts', 'article_likes', 'date', 'year', 'month',
       'eastmoney_robo_journalism', 'media_robo_journalism',
       'SMA_robo_journalism', 'viral'],
      dtype='object')

In [14]:
data = data[['item_title', 'stock_code', 'item_author', 'article_author', 'article_source', 'eastmoney_robo_journalism', 'media_robo_journalism', 'SMA_robo_journalism', 'year', 'month','viral']]

In [17]:
cat_cols = ['stock_code', 'item_author', 'article_author', 'article_source', 'eastmoney_robo_journalism', 'media_robo_journalism', 'SMA_robo_journalism', 'year', 'month','viral']
data[cat_cols] = data[cat_cols].apply(lambda c: c.astype('category'))

In [18]:
data.describe(include='all')

,item_title,stock_code,item_author,article_author,article_source,eastmoney_robo_journalism,media_robo_journalism,SMA_robo_journalism,year,month,viral
count,6603696,6603696,6603696,6603262,6603696,6603696.0,6603696.0,6603696.0,6603696.0,6603696.0,6603696.0
unique,6405069,5052,5159,5799,2045,2.0,2.0,2.0,7.0,12.0,2.0
top,百联股份今日热门盘点,600519,股市胖虎,,东方财富Choice数据,1.0,0.0,0.0,2022.0,12.0,0.0
freq,116,10411,426876,3252893,4179997,3634888.0,5709855.0,4878621.0,1987630.0,680738.0,6288140.0

In [16]:
data.to_csv('./data/p_data_wo_content.csv')