# Merge original data with new sentiment and topic classification

In [1]:
import pandas as pd

In [16]:
data = pd.read_csv("./data/eastmoney_bert.csv", usecols=['item_title', 'item_author_cate', 'article_author', 'article_source_cate',
       'year', 'month',
       'eastmoney_robo_journalism', 'media_robo_journalism', 'SMA_robo_journalism', 
       'stock_code',
       'viral'])

C:\Users\ZIQING002\AppData\Local\Temp\ipykernel_27032\3862024676.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/eastmoney_bert.csv")

In [27]:
sentiment_data = pd.read_csv("./lda/sentiment_score.csv", usecols=['sentiment_label'])
sentiment_data.columns

Index(['sentiment_label'], dtype='object')

In [29]:
data['sentiment'] = sentiment_data['sentiment_label']

In [33]:
topic_data = pd.read_csv("./lda/eastmoney_topic.csv",usecols=['dominant_topic'])

In [35]:
data['topic'] = topic_data['dominant_topic']

In [36]:
data.columns

Index(['item_title', 'item_author_cate', 'article_author',
       'article_source_cate', 'year', 'month', 'eastmoney_robo_journalism',
       'media_robo_journalism', 'SMA_robo_journalism', 'stock_code', 'viral',
       'sentiment', 'topic'],
      dtype='object')

In [38]:
data['year'] = data['year'].astype(int)
data['month'] = data['month'].astype(int)
data['eastmoney_robo_journalism'] = data['eastmoney_robo_journalism'].astype(int)
data['media_robo_journalism'] = data['media_robo_journalism'].astype(int)
data['SMA_robo_journalism'] = data['SMA_robo_journalism'].astype(int)
data['stock_code'] = data['stock_code'].astype(int)
data['topic'] = data['topic'].astype(int)
data['sentiment'] = data['sentiment'].map({'Neutral': 1, 'Positive': 2, 'Negative': 0}).astype(int)
data['viral'] = data['viral'].astype(int)

In [39]:
data.describe(include='all')

,item_title,item_author_cate,article_author,article_source_cate,year,month,eastmoney_robo_journalism,media_robo_journalism,SMA_robo_journalism,stock_code,viral,sentiment,topic
count,6603696,6603696,6603696,6603696,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06,6.603696e+06
unique,6405069,5158,5800,219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,百联股份今日热门盘点,股市胖虎,财智星,东方财富,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,116,426876,3039821,4181680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,2.021472e+03,6.593989e+00,5.504324e-01,1.353547e-01,2.612287e-01,3.414867e+05,4.778476e-02,1.081507e+00,2.177143e+00
std,NaN,NaN,NaN,NaN,1.164505e+00,3.552674e+00,4.974501e-01,3.421020e-01,4.393043e-01,2.724346e+05,2.133105e-01,4.752776e-01,1.072451e+00
min,NaN,NaN,NaN,NaN,2.017000e+03,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,NaN,NaN,NaN,NaN,2.021000e+03,4.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.522000e+03,0.000000e+00,1.000000e+00,2.000000e+00
50%,NaN,NaN,NaN,NaN,2.022000e+03,7.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,3.008900e+05,0.000000e+00,1.000000e+00,2.000000e+00
75%,NaN,NaN,NaN,NaN,2.022000e+03,1.000000e+01,1.000000e+00,0.000000e+00,1.000000e+00,6.010000e+05,0.000000e+00,1.000000e+00,3.000000e+00
max,NaN,NaN,NaN,NaN,2.023000e+03,1.200000e+01,1.000000e+00,1.000000e+00,1.000000e+00,6.889810e+05,1.000000e+00,2.000000e+00,4.000000e+00

index categorical features

In [40]:
data['item_author_index'], uniques = pd.factorize(data['item_author_cate'])

In [41]:
data['article_author_index'], uniques = pd.factorize(data['article_author'])

In [42]:
data['article_source_index'], uniques = pd.factorize(data['article_source_cate'])

In [43]:
data['stock_code_index'], uniques = pd.factorize(data['stock_code'])

In [50]:
data.to_csv('./data/eastmoney_topic_sent.csv', index=False)

## Rank author info based on past month's stats

In [2]:
import pandas as pd
data = pd.read_csv('./data/eastmoney_topic_sent.csv')

/var/folders/52/5ygfc9d94sscvjzdx8yvt2sm0000gq/T/ipykernel_54452/2023387980.py:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./data/eastmoney_topic_sent.csv')

In [3]:
data.columns

Index(['item_title', 'item_author_cate', 'article_author',
       'article_source_cate', 'year', 'month', 'eastmoney_robo_journalism',
       'media_robo_journalism', 'SMA_robo_journalism', 'stock_code', 'viral',
       'sentiment', 'topic', 'item_author_index', 'article_author_index',
       'article_source_index', 'stock_code_index', 'year_month'],
      dtype='object')

In [4]:
# Create a 'year_month' column for easier handling
data['year_month'] = pd.to_datetime(data['year'].astype(str) + '-' + data['month'].astype(str) + '-01')

In [45]:
def rank_by_prev_month(data, col):
    # Group by 'year', 'month', and col to be ranked to count the number of posts by each author in each month
    monthly_count = data.groupby(['year', 'month', col]).size().reset_index(name='post_count')

    # Create a shifted version of 'author_monthly_posts' to simulate the "previous month"
    monthly_count['year_month'] = pd.to_datetime(monthly_count['year'].astype(str) + '-' + monthly_count['month'].astype(str) + '-01')
    monthly_count['previous_year_month'] = monthly_count['year_month'] - pd.DateOffset(months=1)

    # Split 'previous_year_month' into year and month to prepare for the merge
    monthly_count['previous_year'] = monthly_count['previous_year_month'].dt.year
    monthly_count['previous_month'] = monthly_count['previous_year_month'].dt.month

    # Split 'previous_year_month' into year and month to prepare for the merge
    monthly_count['previous_year'] = monthly_count['previous_year_month'].dt.year
    monthly_count['previous_month'] = monthly_count['previous_year_month'].dt.month

    # Rank authors by their post count within the previous month
    monthly_count[f"{col}_rank"] = monthly_count.groupby(['previous_year', 'previous_month'])['post_count'].rank(ascending=False, method='dense')

    # Merge the rank information back into the original data by matching on 'year', 'month', and 'item_author_index'
    data_with_rank = pd.merge(data, 
                            monthly_count[[col, 'year', 'month', f"{col}_rank"]], 
                            how='left', 
                            left_on=[col, 'year', 'month'], 
                            right_on=[col, 'year', 'month'])

    # Display the updated data with the author rank in the previous month
    print(data_with_rank[['year', 'month', col, f"{col}_rank"]])

    return data_with_rank

In [47]:
def reduce_dim_by_rank(row, col, max_index, max_rank=10):
    if row[f"{col}_rank"] > max_rank:
        row[f"{col}_rank"] = max_rank+1
        row[col] = max_index + 1
    return row

In [46]:
data = rank_by_prev_month(data, 'item_author_index')

         year  month  item_author_index  item_author_index_rank
0        2020      5                  0                     3.0
1        2020      8                  1                     2.0
2        2020      9                  2                     1.0
3        2020      9                  2                     1.0
4        2020      9                  2                     1.0
...       ...    ...                ...                     ...
6603691  2023      8               5111                    55.0
6603692  2023      8               5111                    55.0
6603693  2023      8               5111                    55.0
6603694  2023      8               5111                    55.0
6603695  2023      8               5111                    55.0

[6603696 rows x 4 columns]

In [48]:
data = data.apply(reduce_dim_by_rank, axis=1, col='item_author_index', max_index=data['item_author_index'].max())

KeyboardInterrupt:

In [ ]:
print(data[['year', 'month', 'item_author_index', "item_author_index_rank"]])

In [7]:
data = rank_by_prev_month(data, 'article_author_index')

         year  month  article_author_index  article_author_index_rank
0        2020      5                     0                        1.0
1        2020      8                     0                        1.0
2        2020      9                     0                        4.0
3        2020      9                     0                        4.0
4        2020      9                     0                        4.0
...       ...    ...                   ...                        ...
6603691  2023      8                     0                        2.0
6603692  2023      8                     0                        2.0
6603693  2023      8                   453                       49.0
6603694  2023      8                     0                        2.0
6603695  2023      8                     0                        2.0

[6603696 rows x 4 columns]

In [22]:
data = data.apply(reduce_dim_by_rank, axis=1, col='article_author_index', max_index=data['article_author_index'].max())

In [8]:
ranked_data = rank_by_prev_month(ranked_data, 'article_source_index')

         year  month  article_source_index  article_source_index_rank
0        2020      5                     0                        1.0
1        2020      8                     0                        1.0
2        2020      9                     1                        1.0
3        2020      9                     1                        1.0
4        2020      9                     1                        1.0
...       ...    ...                   ...                        ...
6603691  2023      8                    30                       14.0
6603692  2023      8                    57                       20.0
6603693  2023      8                     6                       15.0
6603694  2023      8                    21                       21.0
6603695  2023      8                    15                        8.0

[6603696 rows x 4 columns]

In [9]:
ranked_data.columns

Index(['item_title', 'item_author_cate', 'article_author',
       'article_source_cate', 'year', 'month', 'eastmoney_robo_journalism',
       'media_robo_journalism', 'SMA_robo_journalism', 'stock_code', 'viral',
       'sentiment', 'topic', 'item_author_index', 'article_author_index',
       'article_source_index', 'stock_code_index', 'year_month',
       'item_author_index_rank', 'article_author_index_rank',
       'article_source_index_rank'],
      dtype='object')

In [18]:
def reduce_dim_by_rank(df, col, max_index, max_rank=10):
    # Create a mask for rows where the rank exceeds max_rank
    mask = df[f"{col}_rank"] > max_rank
    
    # Apply changes only to the rows where the condition is met
    df.loc[mask, f"{col}_rank"] = max_rank + 1
    df.loc[mask, col] = max_index + 1
    
    return df

In [19]:
adj_data_with_rank = reduce_dim_by_rank(ranked_data, 'item_author_index', ranked_data['item_author_index'].max())

In [20]:
adj_data_with_rank[['item_author_index', 'item_author_index_rank']]

         item_author_index  item_author_index_rank
0                        0                     3.0
1                        1                     2.0
2                        2                     1.0
3                        2                     1.0
4                        2                     1.0
...                    ...                     ...
6603691               5158                    11.0
6603692               5158                    11.0
6603693               5158                    11.0
6603694               5158                    11.0
6603695               5158                    11.0

[6603696 rows x 2 columns]

In [21]:
adj_data_with_rank = reduce_dim_by_rank(adj_data_with_rank, col='article_author_index', max_index=ranked_data['article_author_index'].max())

In [22]:
adj_data_with_rank[['article_author_index', 'article_author_index_rank']]

         article_author_index  article_author_index_rank
0                           0                        1.0
1                           0                        1.0
2                           0                        4.0
3                           0                        4.0
4                           0                        4.0
...                       ...                        ...
6603691                     0                        2.0
6603692                     0                        2.0
6603693                  5800                       11.0
6603694                     0                        2.0
6603695                     0                        2.0

[6603696 rows x 2 columns]

In [23]:
adj_data_with_rank = reduce_dim_by_rank(adj_data_with_rank, col='article_source_index', max_index=ranked_data['article_source_index'].max())

In [26]:
adj_data_with_rank[['article_source_index', 'article_source_index_rank']]

         article_source_index  article_source_index_rank
0                           0                        1.0
1                           0                        1.0
2                           1                        1.0
3                           1                        1.0
4                           1                        1.0
...                       ...                        ...
6603691                   219                       11.0
6603692                   219                       11.0
6603693                   219                       11.0
6603694                   219                       11.0
6603695                    15                        8.0

[6603696 rows x 2 columns]

In [25]:
adj_data_with_rank.columns

Index(['item_title', 'item_author_cate', 'article_author',
       'article_source_cate', 'year', 'month', 'eastmoney_robo_journalism',
       'media_robo_journalism', 'SMA_robo_journalism', 'stock_code', 'viral',
       'sentiment', 'topic', 'item_author_index', 'article_author_index',
       'article_source_index', 'stock_code_index', 'year_month',
       'item_author_index_rank', 'article_author_index_rank',
       'article_source_index_rank'],
      dtype='object')

In [24]:
data = adj_data_with_rank[['item_title', 'item_author_cate', 'article_author',
       'article_source_cate', 'year', 'month', 'eastmoney_robo_journalism',
       'media_robo_journalism', 'SMA_robo_journalism', 'stock_code', 'viral',
       'sentiment', 'topic', 'item_author_index', 'article_author_index',
       'article_source_index', 'stock_code_index', 'year_month',
       'item_author_index_rank', 'article_author_index_rank',
       'article_source_index_rank']]

In [28]:
data.to_csv('./data/eastmoney_ranked.csv', index=False)

# Fuse industry

In [76]:
import pandas as pd
import pyreadr

In [87]:
ind_data = pyreadr.read_r('./data/industry_csrc2012_matched.RData')
# print(data.keys())
ind_data = ind_data["industry_csrc2012_matched"]

In [88]:
ind_data.describe(include='all')

       stock_code IndustryCode1 IndustryName1 IndustryCode2     IndustryName2
count        5410          5410          5410          5410              5410
unique       5016            19            19            81                81
top        000711             C           制造业           C39  计算机、通信和其他电子设备制造业
freq            3          3506          3506           586               586

In [92]:
# remove duplicate entry for the same stock code
ind_data = ind_data.drop_duplicates(subset=['stock_code'])

In [94]:
data = pd.read_csv('./data/eastmoney_ranked.csv')

/var/folders/52/5ygfc9d94sscvjzdx8yvt2sm0000gq/T/ipykernel_54452/103470131.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('./data/eastmoney_ranked.csv')

In [95]:
ind_data['stock_code'] = ind_data['stock_code'].astype(int)
merged_data = data.merge(ind_data, on='stock_code', how='left')

In [96]:
len(merged_data)

6603696

In [100]:
data['industry_code1_index'], uniques = pd.factorize(merged_data['IndustryCode1'])

In [101]:
data['industry_code2_index'], uniques = pd.factorize(merged_data['IndustryCode2'])

In [102]:
data.columns

Index(['item_title', 'item_author_cate', 'article_author',
       'article_source_cate', 'year', 'month', 'eastmoney_robo_journalism',
       'media_robo_journalism', 'SMA_robo_journalism', 'stock_code', 'viral',
       'sentiment', 'topic', 'item_author_index', 'article_author_index',
       'article_source_index', 'stock_code_index', 'year_month',
       'item_author_index_rank', 'article_author_index_rank',
       'article_source_index_rank', 'industry_code1_index',
       'industry_code2_index'],
      dtype='object')

In [103]:
data.to_csv('./data/eastmoney_ranked.csv', index=False)

## Split the data choronologically

In [105]:
import pandas as pd
data = pd.read_csv('./data/eastmoney_ranked.csv', usecols=['item_title', 'year', 'month', 'eastmoney_robo_journalism',
       'media_robo_journalism', 'SMA_robo_journalism', 'viral', 'sentiment', 'topic', 'industry_code1_index', 'industry_code2_index',
       'item_author_index', 'article_author_index', 'article_source_index', 'stock_code_index', 'year_month',
       'item_author_index_rank', 'article_author_index_rank', 'article_source_index_rank'])

First round:
- Train 2017-01-01, 2021.12.13 --> train_bpr1.csv
- Valid 2022-01-01, 2022-06-30 --> valid_bpr.csv
- Test  2022-07-01, 2022-09-30 --> test1.csv

Second round: 
- Train 2022-07-01, 2022-09-30 --> train_bpr2.csv (test1)
- Test  2022-10-01, 2022-12-31 --> test2.csv

Third round:
- Train 2022-10-01, 2022-12-31 --> train_bpr3.csv (test2)
- Test  2023-01-01, 2022-03-31 --> test3.csv

Fourth round:
- Train 2023-01-01, 2022-03-31 --> train_bpr4.csv
- Test  2023-04-01, 2023-08-31 --> test4.csv

In [106]:
## first round 

# Define the date ranges for train, valid, and test sets
train1_start = '2017-01-01'
train1_end = '2021-12-31'
valid1_start = '2022-01-01'
valid1_end = '2022-06-30'
test1_start = '2022-07-01'
test1_end = '2022-09-30'

test2_start = '2022-10-01'
test2_end = '2022-12-31'

test3_start = '2023-01-01'
test3_end = '2023-03-31'

test4_start = '2023-04-01'
test4_end = '2023-08-31'

# Split the data based on the defined ranges
train_set = data[(data['year_month'] >= train1_start) & (data['year_month'] <= train1_end)]
valid_set = data[(data['year_month'] >= valid1_start) & (data['year_month'] <= valid1_end)]
test1_set = data[(data['year_month'] >= test1_start) & (data['year_month'] <= test1_end)]
test2_set = data[(data['year_month'] >= test2_start) & (data['year_month'] <= test2_end)]
test3_set = data[(data['year_month'] >= test3_start) & (data['year_month'] <= test3_end)]
test4_set = data[(data['year_month'] >= test4_start) & (data['year_month'] <= test4_end)]

In [107]:
len(train_set), len(valid_set), len(test1_set), len(test2_set), len(test3_set), len(test4_set)

(3208461, 1112397, 451944, 423289, 426113, 981492)

In [108]:
len(train_set[train_set['viral']==1]), len(valid_set[valid_set['viral']==1]), len(test1_set[test1_set['viral']==1]), len(test2_set[test2_set['viral']==1]), len(test3_set[test3_set['viral']==1]), len(test4_set[test4_set['viral']==1])

(259955, 9436, 4506, 9963, 11906, 19790)

In [109]:
train_set.to_csv("./data/train1.csv", index=False)
valid_set.to_csv("./data/valid1.csv", index=False)
test1_set.to_csv("./data/test1.csv", index=False)
test2_set.to_csv("./data/test2.csv", index=False)
test3_set.to_csv("./data/test3.csv", index=False)
test4_set.to_csv("./data/test4.csv", index=False)

sample negative BPR samples

In [110]:
from tqdm import tqdm

In [111]:
def form_bpr_train_data(data, dir, aux_data=None):
    print(f"sample negative bpr data and save to {dir}")
    positive_rows = data[data['viral'] == 1]

    neg_sample_num = 2
    null_count = 0

    if aux_data:
        # Combine all DataFrames in aux_data with the main DataFrame
        combined_df = pd.concat([data] + aux_data, ignore_index=True)

    else:
        combined_df = data


    # Open the output file
    with open(dir, 'w', encoding='utf-8') as f:
        first_line = True

        # Iterate over each positive row
        for _, positive_row in tqdm(positive_rows.iterrows(), total=positive_rows.shape[0]):
            # Find corresponding negative row based on specified conditions
            negative_rows = combined_df[(combined_df['item_author_index'] == positive_row['item_author_index']) &
                                (combined_df['article_author_index'] == positive_row['article_author_index']) &
                                (combined_df['article_source_index'] == positive_row['article_source_index']) &
                                (combined_df['viral'] == 0)]
            
            # Check if there are valid negative rows
            if len(negative_rows)==0:
                negative_rows = combined_df[(combined_df['stock_code_index'] == positive_row['stock_code_index']) &
                                    (combined_df['viral'] == 0)]
                
            if len(negative_rows)==0:
                null_count+=1
                continue

            elif len(negative_rows)==1:
                neg_samples = negative_rows.iloc[0]
                concatenated_row = pd.concat([positive_row, neg_samples.add_prefix('neg_')])
                if first_line:
                    f.write('<'.join(map(str, concatenated_row.keys()))+'\n')
                    first_line = False

                # Write the concatenated row to the file
                f.write('<'.join(map(str, concatenated_row.values)) + '\n')
                continue

            elif 1<len(negative_rows)<=neg_sample_num:
                # Take the first negative row
                neg_samples = negative_rows
            
            elif len(negative_rows)>neg_sample_num:
                # Take all negative rows
                neg_samples = negative_rows.sample(n=neg_sample_num, replace=False)
            
            # Iterate over each sampled negative row
            for _, negative_row in neg_samples.iterrows():
                # Concatenate negative row to positive row with modifications
                concatenated_row = pd.concat([positive_row, negative_row.add_prefix('neg_')])

                if first_line:
                    f.write('<'.join(map(str, concatenated_row.keys()))+'\n')
                    first_line = False

                # Write the concatenated row to the file
                f.write('<'.join(map(str, concatenated_row.values)) + '\n')

In [ ]:
form_bpr_train_data(train_set, './data/train_bpr1.csv')

sample negative bpr data and save to ./data/train_bpr1.csv

  3%|▎         | 7910/259955 [05:34<5:35:12, 12.53it/s]

In [58]:
bpr_data = pd.read_csv("./data/train_bpr1.csv",delimiter='<')
len(bpr_data)

517533

In [59]:
bpr_data.columns

Index(['item_title', 'year', 'month', 'eastmoney_robo_journalism',
       'media_robo_journalism', 'SMA_robo_journalism', 'viral', 'sentiment',
       'topic', 'item_author_index', 'article_author_index',
       'article_source_index', 'stock_code_index', 'year_month',
       'item_author_index_rank', 'article_author_index_rank',
       'article_source_index_rank', 'neg_item_title', 'neg_year', 'neg_month',
       'neg_eastmoney_robo_journalism', 'neg_media_robo_journalism',
       'neg_SMA_robo_journalism', 'neg_viral', 'neg_sentiment', 'neg_topic',
       'neg_item_author_index', 'neg_article_author_index',
       'neg_article_source_index', 'neg_stock_code_index', 'neg_year_month',
       'neg_item_author_index_rank', 'neg_article_author_index_rank',
       'neg_article_source_index_rank'],
      dtype='object')

In [63]:
form_bpr_train_data(valid_set, './data/valid_bpr.csv',aux_data=[train_set])

sample negative bpr data and save to ./data/valid_bpr.csv

100%|██████████| 9436/9436 [08:03<00:00, 19.52it/s]

In [64]:
bpr_data = pd.read_csv("./data/valid_bpr.csv",delimiter='<')
len(bpr_data)

18870

In [65]:
form_bpr_train_data(test1_set, './data/train_bpr2.csv',aux_data=[train_set,valid_set])

sample negative bpr data and save to ./data/train_bpr2.csv

100%|██████████| 4506/4506 [04:05<00:00, 18.37it/s]

In [66]:
bpr_data = pd.read_csv("./data/train_bpr2.csv",delimiter='<')
len(bpr_data)

9010

In [67]:
form_bpr_train_data(test2_set, './data/train_bpr3.csv',aux_data=[train_set,valid_set, test1_set])

sample negative bpr data and save to ./data/train_bpr3.csv

100%|██████████| 9963/9963 [10:41<00:00, 15.52it/s]

In [68]:
bpr_data = pd.read_csv("./data/train_bpr3.csv",delimiter='<')
len(bpr_data)

19913

In [69]:
form_bpr_train_data(test3_set, './data/train_bpr4.csv',aux_data=[train_set,valid_set,test1_set,test2_set])

sample negative bpr data and save to ./data/train_bpr4.csv

100%|██████████| 11906/11906 [12:04<00:00, 16.43it/s]

In [70]:
bpr_data = pd.read_csv("./data/train_bpr4.csv",delimiter='<')
len(bpr_data)

23755

save meta data

In [71]:
import pandas as pd
data = pd.read_csv('./data/eastmoney_ranked.csv', usecols=['item_title', 'year', 'month', 'eastmoney_robo_journalism',
       'media_robo_journalism', 'SMA_robo_journalism', 'viral', 'sentiment', 'topic', 'industry_code1_index', 'industry_code2_index',
       'item_author_index', 'article_author_index', 'article_source_index', 'stock_code_index', 'year_month',
       'item_author_index_rank', 'article_author_index_rank', 'article_source_index_rank'])

In [72]:
len(data)

6603696

In [73]:
post_cols = ['month', 
                'IndustryCode1',
                'IndustryCode2',
                'sentiment',
                'topic',]
author_cols = ['eastmoney_robo_journalism',
                'media_robo_journalism',
                'SMA_robo_journalism',
                'item_author_index',
                'article_author_index',
                'article_source_index',
                'item_author_index_rank',
                'article_author_index_rank',
                'article_source_index_rank',]

In [74]:
#count unique number of each column
post_unique = [data[x].nunique()+1 for x in post_cols]
author_unique = [data[x].nunique()+1 for x in author_cols]

KeyError: 'IndustryCode1'

In [ ]:
import pickle

meta_data = (post_unique, author_unique)
with open('meta_data.pkl', 'wb') as f:
    pickle.dump(meta_data, f)