In [20]:
import pandas as pd

In [23]:
raw_data = pd.read_csv("./data/news_data_with_y1030_sentiment.csv")

In [24]:
raw_data.columns

Index(['Unnamed: 0', 'Item_URL', 'Item_Author', 'Item_PostDate', 'Item_Title',
       'Item_Views', 'Item_Likes', 'Item_Comments', 'news_author_x',
       'news_text', 'Item_Time', 'Item_Date', 'title', 'sentence_length',
       'word_length', 'word_!', 'word_:', 'word_?', 'news_source',
       'news_author_y', 'top1p_views', 'top5p_views', 'top10p_views',
       'top15p_views', 'top20p_views', 'top25p_views', 'top30p_views',
       'top1p_likes', 'top5p_likes', 'top10p_likes', 'top15p_likes',
       'top20p_likes', 'top25p_likes', 'top30p_likes', 'top1p_comments',
       'top5p_comments', 'top10p_comments', 'top15p_comments',
       'top20p_comments', 'top25p_comments', 'top30p_comments', 'Company_ID',
       'sentiment', 'score'],
      dtype='object')

In [4]:
# select features

data = raw_data[['Item_Author', 'Company_ID', 'Item_Title', 'title', 'news_text', 'sentence_length', 'word_length', 'word_!', 'word_:', 'word_?', 'sentiment', 'score', 
        'Item_Views', 'Item_Likes', 'Item_Comments', 
        'top1p_views', 'top5p_views', 'top10p_views', 'top15p_views', 'top20p_views', 'top25p_views', 'top30p_views',
        'top1p_likes', 'top5p_likes', 'top10p_likes', 'top15p_likes', 'top20p_likes', 'top25p_likes', 'top30p_likes', 
        'top1p_comments', 'top5p_comments', 'top10p_comments', 'top15p_comments', 'top20p_comments', 'top25p_comments', 'top30p_comments']]

In [5]:
data.columns

Index(['Item_Author', 'Company_ID', 'Item_Title', 'title', 'news_text',
       'sentence_length', 'word_length', 'word_!', 'word_:', 'word_?',
       'sentiment', 'score', 'Item_Views', 'Item_Likes', 'Item_Comments',
       'top1p_views', 'top5p_views', 'top10p_views', 'top15p_views',
       'top20p_views', 'top25p_views', 'top30p_views', 'top1p_likes',
       'top5p_likes', 'top10p_likes', 'top15p_likes', 'top20p_likes',
       'top25p_likes', 'top30p_likes', 'top1p_comments', 'top5p_comments',
       'top10p_comments', 'top15p_comments', 'top20p_comments',
       'top25p_comments', 'top30p_comments'],
      dtype='object')

In [8]:
cat_cols = ['Item_Author', 'Company_ID', 'sentiment']
# cont_cols = ['word_length', 'word_!', 'word_:', 'word_?', 'score']
# tar_cols = ['Item_Views', 'Item_Likes', 'Item_Comments']

In [9]:
data[cat_cols] = data[cat_cols].apply(lambda c: c.astype('category'))

C:\Users\ZIQING002\AppData\Local\Temp\ipykernel_14484\3328079898.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[cat_cols] = data[cat_cols].apply(lambda c: c.astype('category'))

In [10]:
data.dtypes

Item_Author        category
Company_ID         category
Item_Title           object
title                object
news_text            object
sentence_length       int64
word_length           int64
word_!                int64
word_:                int64
word_?                int64
sentiment          category
score               float64
Item_Views          float64
Item_Likes          float64
Item_Comments       float64
top1p_views           int64
top5p_views           int64
top10p_views          int64
top15p_views          int64
top20p_views          int64
top25p_views          int64
top30p_views          int64
top1p_likes           int64
top5p_likes           int64
top10p_likes          int64
top15p_likes          int64
top20p_likes          int64
top25p_likes          int64
top30p_likes          int64
top1p_comments        int64
top5p_comments        int64
top10p_comments       int64
top15p_comments       int64
top20p_comments       int64
top25p_comments       int64
top30p_comments       int64
dtype: object

In [11]:
topic_data = pd.read_csv('./data/lda_topic_probabilities_5_topics.csv')

In [12]:
topic_data.head()

    Topic_1   Topic_2   Topic_3   Topic_4   Topic_5
0  0.040185  0.040594  0.040089  0.040087  0.839046
1  0.025229  0.025000  0.899257  0.025197  0.025317
2  0.028897  0.028571  0.372954  0.540535  0.029043
3  0.028869  0.028571  0.884727  0.028838  0.028995
4  0.033725  0.568180  0.033517  0.033513  0.331065

In [16]:
data = pd.concat([data, topic_data], axis=1)

In [17]:
data.describe(include='all')

,Item_Author,Company_ID,Item_Title,title,news_text,sentence_length,word_length,word_!,word_:,word_?,...,top10p_comments,top15p_comments,top20p_comments,top25p_comments,top30p_comments,Topic_1,Topic_2,Topic_3,Topic_4,Topic_5
count,986018,986018.0,986018,986018,986018,986018.000000,986018.000000,986018.000000,986018.000000,986018.000000,...,986018.000000,986018.000000,986018.000000,986018.000000,986018.000000,986018.000000,986018.000000,986018.000000,986018.000000,986018.000000
unique,4749,4749.0,985752,135786,985750,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,宁德时代资讯,300750.0,力帆科技：融资净偿还860.29万元，融资余额3.29亿元（11-25）,国联 获 沪 股通 增持 万股,来源：东方财富Choice数据 作者：财智星 力帆科技融资融券信息显示，2021年12月2...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,875,875.0,2,224,2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,29.841276,6.868963,0.001290,0.579175,0.001060,...,0.119516,0.194710,0.281378,0.378147,0.701338,0.097598,0.151292,0.377446,0.163937,0.209727
std,NaN,NaN,NaN,NaN,NaN,6.272318,1.379647,0.041306,0.493712,0.033731,...,0.324395,0.395978,0.449672,0.484925,0.457671,0.208976,0.266284,0.401847,0.288639,0.323736
min,NaN,NaN,NaN,NaN,NaN,5.000000,2.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.012033,0.011145,0.011126,0.011133,0.011131
25%,NaN,NaN,NaN,NaN,NaN,23.000000,6.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.028583,0.028571,0.033409,0.028755,0.028578
50%,NaN,NaN,NaN,NaN,NaN,31.000000,7.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.029197,0.033333,0.040175,0.033355,0.029167
75%,NaN,NaN,NaN,NaN,NaN,36.000000,8.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,1.000000,0.033747,0.041263,0.884753,0.040155,0.285735
max,NaN,NaN,NaN,NaN,NaN,61.000000,21.000000,3.000000,2.000000,2.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,0.955382,0.885413,0.919431,0.949566,0.946435

In [25]:
data.to_csv("./data/processed_data.csv")