In [4]:
import pandas as pd

In [5]:
raw_data = pd.read_csv("./data/news_data_with_sentiment.csv")

In [6]:
raw_data.columns

Index(['Unnamed: 0', 'Item_URL', 'Item_Author', 'Item_PostDate', 'Item_Title',
       'Item_Views', 'Item_Likes', 'Item_Comments', 'news_author', 'news_text',
       'Item_Time', 'Item_Date', 'title', 'sentence_length', 'word_length',
       'word_!', 'word_:', 'word_?', 'top1p_views', 'top5p_views',
       'top1p_likes', 'top5p_likes', 'top1p_comments', 'top5p_comments',
       'Log_Item_Views', 'Log_Item_Likes', 'Company_ID', 'sentiment', 'score'],
      dtype='object')

In [7]:
# select features

data = raw_data[['Item_Author', 'Company_ID', 'Item_Title', 'title', 'news_text', 'sentence_length', 'word_length', 'word_!', 'word_:', 'word_?', 'sentiment', 'score', 
                'Item_Views', 'Item_Likes', 'Item_Comments']]

In [8]:
data.columns

Index(['Item_Author', 'Company_ID', 'Item_Title', 'title', 'news_text',
       'sentence_length', 'word_length', 'word_!', 'word_:', 'word_?',
       'sentiment', 'score', 'Item_Views', 'Item_Likes', 'Item_Comments'],
      dtype='object')

In [9]:
cat_cols = ['Item_Author', 'Company_ID', 'sentiment']
cont_cols = ['word_length', 'word_!', 'word_:', 'word_?', 'score']
tar_cols = ['Item_Views', 'Item_Likes', 'Item_Comments']

In [10]:
data[cat_cols] = data[cat_cols].apply(lambda c: c.astype('category'))

C:\Users\ZIQING002\AppData\Local\Temp\ipykernel_32156\3328079898.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[cat_cols] = data[cat_cols].apply(lambda c: c.astype('category'))

In [11]:
data.dtypes

Item_Author        category
Company_ID         category
Item_Title           object
title                object
news_text            object
sentence_length       int64
word_length           int64
word_!                int64
word_:                int64
word_?                int64
sentiment          category
score               float64
Item_Views          float64
Item_Likes          float64
Item_Comments       float64
dtype: object

In [12]:
data.describe(include='all')

,Item_Author,Company_ID,Item_Title,title,news_text,sentence_length,word_length,word_!,word_:,word_?,sentiment,score,Item_Views,Item_Likes,Item_Comments
count,588866,588866.0,588866,588866,588866,588866.000000,588866.000000,588866.000000,588866.000000,588866.000000,588866,588866.000000,588866.000000,588866.000000,588866.000000
unique,1812,1812.0,588846,176985,588807,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN
top,贵州茅台资讯,600519.0,证券板块异动拉升,国联 获 沪 股通 增持 万股,来源：东方财富研究中心 数据挖掘机，纵览A股市场，上市公司实时追踪！个股评级、增减...,NaN,NaN,NaN,NaN,NaN,neutral,NaN,NaN,NaN,NaN
freq,2307,2307.0,5,224,34,NaN,NaN,NaN,NaN,NaN,287165,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,27.455136,6.885760,0.017163,0.548492,0.005443,NaN,0.167199,673.132582,2.142301,3.303400
std,NaN,NaN,NaN,NaN,NaN,8.798880,2.412618,0.140071,0.497981,0.076737,NaN,0.691702,1734.579997,13.302431,22.408038
min,NaN,NaN,NaN,NaN,NaN,5.000000,1.000000,0.000000,0.000000,0.000000,NaN,-1.000000,59.000000,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,22.000000,6.000000,0.000000,0.000000,0.000000,NaN,0.000000,286.000000,0.000000,0.000000
50%,NaN,NaN,NaN,NaN,NaN,29.000000,7.000000,0.000000,1.000000,0.000000,NaN,0.000000,382.000000,0.000000,0.000000
75%,NaN,NaN,NaN,NaN,NaN,35.000000,8.000000,0.000000,1.000000,0.000000,NaN,1.000000,618.000000,1.000000,1.000000
max,NaN,NaN,NaN,NaN,NaN,100.000000,32.000000,5.000000,3.000000,3.000000,NaN,1.000000,456000.000000,1998.000000,4134.000000

In [13]:
data_1hot = pd.get_dummies(data, columns=['Item_Author', 'sentiment'])

In [14]:
data_1hot.columns

Index(['Company_ID', 'Item_Title', 'title', 'news_text', 'sentence_length',
       'word_length', 'word_!', 'word_:', 'word_?', 'score',
       ...
       'Item_Author_龙版传媒资讯', 'Item_Author_龙竹科技资讯', 'Item_Author_龙腾光电资讯',
       'Item_Author_龙蟠科技资讯', 'Item_Author_龙软科技资讯', 'Item_Author_龙韵股份资讯',
       'Item_Author_龙高股份资讯', 'sentiment_negative', 'sentiment_neutral',
       'sentiment_positive'],
      dtype='object', length=1828)

In [15]:
data.to_csv("./data/processed_data.csv")